* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
ul {
  margin-bottom: 0;
}
body {
  background-color: #f5f5f6;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
p {
  padding: 0;
  margin: 0;
}
/* h1 {
        font-family: "StyreneALCLight";
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: 56px;
        line-height: 10%;
      } */
header {
  background-color: #ffff;
  padding: 0 40px;
}
.navbar {
  padding-top: 31px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9de;
}
.search {
  position: relative;
  display: inline-block;
}
.search input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #5b5b80;
  background: #fcfcfc;
  border: 1px solid #d9d9de;
  border-radius: 8px;
  width: 358px;
  padding: 17px 55px 17px 20px;
}
.search input:focus {
  outline: 0;
}
.search .search-img {
  position: absolute;
  top: 19px;
  right: 24px;
  width: 20px;
}
.nav-unorder {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.nav-unorder > li {
  padding-left: 55px;
}
.nav-unorder .dropdown-toggle {
  border: 0;
  background-color: white;
  color: #808095;
}
.nav-unorder .dropdown-menu {
  right: 0;
  left: auto;
  width: 273px;
  border: 1px solid #ebecef;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}
.nav-unorder .dropdown-menu li {
  padding: 12px 24px 12px 14px;
  margin: 0 8px;
}
.nav-unorder .dropdown-menu li:hover:not(:first-child) {
  background: rgba(78, 31, 163, 0.1);
  border-radius: 8px;
}
.nav-unorder .dropdown-menu li h4 {
  font-family: "StyreneALC";
  font-size: 18px;
  color: #4e1fa3;
}
.nav-unorder .dropdown-menu li .client-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8e8e93;
}
.nav-unorder .dropdown-menu .dropdownterm {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #0e0e2c;
}
.nav-unorder .dropdown-menu .dropdownterm i {
  padding-right: 14px;
  font-size: 16px;
  color: #aeaeb2;
}
.nav-unorder .dropdown-menu hr {
  border-bottom: 1px solid #ebecef;
  border-top: 0;
  opacity: 0.8;
  margin: 5px 0;
}
.nav-unorder .notification {
  width: 32px;
  height: 33px;
}
.nav-unorder li:nth-child(2) {
  position: relative;
}
.nav-unorder li:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(/assets/images/dot.png);
  width: 10px;
  height: 10px;
  right: 5px;
  background-size: cover;
}
/* NAVEND */

.back {
  padding: 22px 0 8px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* BUTTON END */
.breadcrumb-item a {
  color: #808095;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.breadcrumb {
  margin-bottom: 0;
  position: relative;
  background: #f5f5f6;
  display: flex;
  padding-right: 15px;
}

.breadcrumb-common {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}
.breadcrumb-common:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9de;
  top: 50%;
  right: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #808095;
  content: var(--bs-breadcrumb-divider, ">");
}
.user-project-imgs {
  width: 100%;
}
.user-project-details {
  position: relative;
  height: 100%;
  display: flex;
}
.common-vertical {
  width: 245px;
  background-image: url(/assets/images/vertical-bg.png);
  position: relative;
}
.common-vertical::before {
  content: "";
  position: absolute;
  background: url(/assets/images/curve-bg.png) no-repeat;
  background-size: contain;
  width: 245px;
  height: 288px;
  bottom: 0;
}
.common-user {
  width: calc(100% - 245px);
}
.l1x-labs-link {
  padding-top: 29px;
}
.l1x-labs-link hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 27px;
  margin: 0 14px;
}
.view-myproject {
  padding: 0 40px;
}
.vertical-unorder li a span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  padding-left: 14px;
}
.vertical-unorder li a i {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.vertical-unorder li {
  padding: 16px 42px;
  border-left: 5px solid transparent;
}
.vertical-unorder li:hover {
  background-color: #232369;
  border-left: 5px solid #4e1fa3;
}
.vertical-unorder li.active {
  background-color: #232369;
  border-left: 5px solid #4e1fa3;
}
.vertical-unorder hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 16px 14px 0 14px;
}
.vertical-unorder {
  padding-top: 16px;
  padding-left: 0;
  list-style: none;
}
.btnstyleone {
    font-family: "StyreneALC";
    font-size: 26px;
    line-height: 34px;
    color: #0e0e2c;
    display: flex;
    align-items: center;
  }
  .btnstyleone img {
    border: 1px solid #d9d9de;
    border-radius: 8px;
    padding: 11px;
    margin-right: 12px;
  }


  .myevents-img{
    border-radius: 8px;
    width: 100%;
}
.myevents-card h5{
    color:  #4E1FA3;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
    padding: 10px 0;
}
.myevents-card h2{
    color:  #192A44;
    font-family: "StyreneALC";
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.64px;
    padding-bottom: 10px;
}
.myevents-card  p{
    color: #7C7C7C;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.myevents-card  p img{
    padding-right: 5px;
    margin-top: -2px;
}
.myeventsbtn a:nth-child(1), .myeventsbtn a:nth-child(2), .myeventsbtn1 a:nth-child(2), .myeventsbtn2 a:nth-child(2){
    font-family: "StyreneALC";
    line-height: normal;
    border-radius: 7px;
    padding: 7px 12px;
}
.myeventsbtn a:nth-child(1){
    font-size: 10px;
    color:  #FFF;
    background: #4E1FA3;
}
.myeventsbtn a:nth-child(1):hover{
    color:#fff;
    background-color: #31D0AA;
}
.myeventsbtn a:nth-child(2){
    font-size: 12px;
    color:  #31D0AA;
    background: rgba(49, 208, 170, 0.12);
}
.myeventsbtn1 a:nth-child(2){
    font-size: 12px;
    color:  #FF7932;
    background: rgba(255, 121, 50, 0.12);
}
.myeventsbtn2 a:nth-child(2){
    font-size: 12px;
    background: rgba(225, 25, 0, 0.12);
    color:  #E11900;
}
.myeventsbtn a:nth-child(2):hover, .myeventsbtn1 a:nth-child(2):hover, .myeventsbtn2 a:nth-child(2):hover{
    color:  #FFF;
    background: #4E1FA3;
}
.myeventsbtn, .myeventsbtn1, .myeventsbtn2{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   margin-top: 10px;
   border-top: 1px solid #D9D9DE;
   border-bottom: 1px solid #D9D9DE;
}
.myeventsbtn1 h4, .myeventsbtn2 h4{
    color: #7C7C7C;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
}
.myevents-ro{
    padding-bottom: 50px;
}
/* .form-select {
  position: relative;
  background-image: url(/assets/images/dropdown-icon.svg);
  border: 0;
}
.sel-one, .sel-two{
  width: auto;
} */
.sel-one, .sel-two {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  padding: 0 3em 0 0.7em;
  cursor: pointer;
  position: relative;
}
.sel-three {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  padding: 0 3em 0 0.7em;
  cursor: pointer;
  position: relative;
}
.select h5{
  position: absolute;
  top: 0;
  z-index: 1;
}
.sel-one{
  width: 130px;
}
.sel-two{
  width: 170px;
}
.sel-three{
  width: 235px;
}


/* Arrow */
.select {
  position: relative;
  display: flex;
  border-radius: .25em;
  overflow: hidden;
}
.select::after {
  content: '';
  position: absolute;
  top: 3px;
 right: 0;
 bottom: 3px;
  padding: 1em;
  background-image: url(/assets/images/dropdown-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: .25s all ease;
  pointer-events: none;
  border-left: 1px solid rgba(233, 233, 235, 1); 
}


@media screen and (max-width: 1340px) {
    .myevents-card h2 {
        font-size: 15px;
    }
}
@media screen and (max-width: 1280px) {
  .search input {
    padding: 12px 55px 12px 15px;
    font-size: 15px;
    width: 330px;
  }
  .navbar {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .search .search-img {
    right: 22px;
    width: 18px;
    top: 15px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 30px;
    height: 30px;
  }
  .nav-unorder > li {
    padding-left: 45px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 60px;
  }
  .breadcrumb-item a {
    font-size: 13px;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 6px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 6px;
  }
  .nav-unorder .dropdown-menu {
    width: 250px;
  }
  .nav-unorder .dropdown-menu li {
    padding: 10px 14px 10px 14px;
  }
  .vertical-unorder {
    padding-top: 10px;
  }
  .vertical-unorder hr {
    margin: 12px 14px 0 14px;
  }
  .vertical-unorder li {
    padding: 12px 42px;
  }
  .nav-unorder li:nth-child(2)::before {
    right: 4px;
    width: 9px;
    height: 9px;
  }
  .breadcrumb-common {
    margin-bottom: 30px;
  }
  .btnstyleone {
    font-size: 20px;
  }
  .myeventsbtn a:nth-child(1), .myeventsbtn a:nth-child(2), .myeventsbtn1 a:nth-child(2), .myeventsbtn2 a:nth-child(2) {
    border-radius: 5px;
    padding: 7px 7px;
    }
    .myeventsbtn a:nth-child(2), .myeventsbtn1 a:nth-child(2), .myeventsbtn2 a:nth-child(2) {
      font-size: 11px;    
  }
  
}
@media screen and (max-width: 1199px) {
  .common-vertical {
    width: 230px;
    background-image: url(/assets/images/vertical-bg.png);
    position: relative;
  }
  .common-user {
    width: calc(100% - 230px);
  }
  header {
    background-color: #ffff;
    padding: 0 20px;
  }
  .view-myproject {
    padding: 0 20px;
  }
  .common-vertical::before {
    width: 230px;
  }
  .breadcrumb-item a {
    font-size: 12px;
  }
  .btnstyleone {
    font-size: 16px;
  }
  .btnstyleone img {
    border-radius: 6px;
    padding: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .search .search-img {
    right: 20px;
    width: 16px;
    top: 15px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 28px;
    height: 28px;
  }
  .nav-unorder li:nth-child(2)::before {
    right: 3px;
  }
  .nav-unorder > li {
    padding-left: 35px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 50px;
  }
  .search input {
    padding: 10px 45px 10px 12px;
    font-size: 15px;
    width: 315px;
  }
}
@media screen and (max-width: 991px) {
  .breadcrumb-common {
    margin-bottom: 25px;
  }
  .common-vertical {
    width: 100px;
  }
  .l1x-labs-link a img {
    width: 60px;
  }
  .common-user {
    width: calc(100% - 100px);
  }
  .vertical-unorder li a span {
    display: none;
    padding-left: 0;
  }
  .vertical-unorder li {
    position: relative;
  }
  .vertical-unorder li:hover span {
    position: absolute;
    left: 100%;
    top: 0px;
    display: block;
    z-index: 1;
    padding: 0.9rem;
    background-color: #232369;
    color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    white-space: nowrap;
  }
  .common-vertical::before {
    display: none;
  }
  .vertical-unorder li {
    border-left: 3px solid transparent;
  }
  .vertical-unorder li:hover {
    border-left: 3px solid #4e1fa3;
  }
  .vertical-unorder li.active {
    border-left: 3px solid #4e1fa3;
  }
  .l1x-labs-link hr {
    padding-bottom: 20px;
  }
  .vertical-unorder hr {
    margin: 8px 14px 0 14px;
  }
  .breadcrumb {
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .search input {
    padding: 6px 35px 6px 10px;
    font-size: 13px;
    width: 190px;
  }
  .search .search-img {
    right: 14px;
    width: 12px;
    top: 12px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 22px;
    height: 22px;
  }
  .nav-unorder > li {
    padding-left: 25px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 35px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #d9d9de;
  }
  .nav-unorder .dropdown-menu li h4 {
    font-size: 15px;
  }
  .nav-unorder .dropdown-menu .dropdownterm {
    font-size: 13px;
  }
  .nav-unorder .dropdown-menu .dropdownterm i {
    padding-right: 8px;
  }
  .nav-unorder .dropdown-menu li {
    padding: 8px;
  }
  .nav-unorder .dropdown-menu {
    width: 230px;
  }
  .nav-unorder .dropdown-menu li .client-mail {
    font-size: 12px;
  }
  .back {
    padding: 15px 0 5px 0;
  }
  .breadcrumb-common:before {
    height: 0.7px;
  }
  .breadcrumb-item a {
    font-size: 11px;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.2rem;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.2rem;
  }
  .breadcrumb-common {
    margin-bottom: 20px;
  }

  .common-user {
    width: calc(100% - 80px);
  }
  .vertical-unorder li {
    padding: 10px 30px;
  }
  .vertical-unorder li a i {
    font-size: 15px;
  }
  .l1x-labs-link a img {
    width: 45px;
  }
  .l1x-labs-link {
    padding-top: 16px;
  }
  .vertical-unorder hr,
  .l1x-labs-link hr {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.8);
  }
  .l1x-labs-link hr {
    padding-bottom: 15px;
  }
  .vertical-unorder li a span {
    font-size: 13px;
  }
  .vertical-unorder li:hover span {
    padding: 0.8rem;
  }
  header {
    padding: 0 15px;
  }
  .view-myproject {
    padding: 0px 15px;
  }
  .nav-unorder li:nth-child(2)::before {
    right: 2px;
    top: 3px;
    width: 8px;
    height: 8px;
  }
  .breadcrumb {
    padding-right: 15px;
  }
  .btnstyleone img {
    padding: 6px;
  }
  .btnstyleone {
    font-size: 15px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 575px) {
  .search input {
    padding: 5px 30px 5px 7px;
    font-size: 11px;
    width: 125px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 20px;
    height: 20px;
  }
  .nav-unorder li:nth-child(2)::before {
    width: 7px;
    height: 7px;
  }
  .search .search-img {
    right: 12px;
    top: 11px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 30px;
  }
  .nav-unorder > li {
    padding-left: 20px;
  }
  .navbar {
    padding-top: 15px;
  }
  .nav-unorder .dropdown-menu {
    width: 175px;
  }
  .nav-unorder .dropdown-menu li .client-mail {
    font-size: 11px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .nav-unorder .dropdown-menu li {
    padding: 7px;
  }
  .nav-unorder .dropdown-menu hr {
    border-bottom: 0.8px solid #ebecef;
  }
  .nav-unorder .dropdown-menu .dropdownterm {
    font-size: 12px;
  }
  .nav-unorder .dropdown-menu .dropdownterm i {
    padding-right: 6px;
    font-size: 14px;
  }
  .l1x-labs-link hr {
    padding-bottom: 13px;
    margin: 0 8px;
  }
  .l1x-labs-link a img {
    width: 45px;
  }
  .vertical-unorder li {
    padding: 8px 20px;
  }
  .common-vertical {
    width: 60px;
  }
  .common-user {
    width: calc(100% - 60px);
  }
  .vertical-unorder li:hover span {
    padding: 0.7rem;
  }
  .vertical-unorder li a span {
    font-size: 12px;
    line-height: 18px;
  }
  .view-myproject {
    padding: 0px 12px;
  }
  header {
    padding: 0 12px;
  }
  .breadcrumb-common:before {
    width: 0;
  }
  .back {
    padding: 12px 0 0px 0;
  }
  .breadcrumb-common {
    margin-bottom: 12px;
  }
  .btnstyleone img {
    width: 20%;
    margin-right: 8px;
  }

}
@media screen and (max-width: 480px) {
  .nav-unorder > li {
    padding-left: 8px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 17px;
    height: 17px;
  }
  .search input {
    padding: 5px 30px 5px 7px;
    font-size: 11px;
    width: 120px;
  }
  .search .search-img {
    top: 10px;
    width: 13px;
  }
  .back {
    padding: 18px 0 5px 0;
  }
  .nav-unorder li:nth-child(2)::before {
    width: 6px;
    height: 6px;
    right: 2px;
    top: 6px;
  }
  .events-img {
    padding-bottom: 0;
  }
  .common-space {
    padding: 12px 0;
    border-bottom: 0.5px solid #d9d9de;
  }
  .contact-vone,
  .event-vone {
    gap: 10px;
  }
  .breadcrumb-item a {
    font-size: 10px;
  }
  .breadcrumb {
    font-size: 12px;
  }
  .btnstyleone img {
    padding: 6px;
    margin-right: 6px;
    border-radius: 6px;
  }
  .btnstyleone {
    font-size: 13px;
  }
}
