* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin-bottom: 0;
}
body {
  background-color: #f5f5f6;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
p {
  padding: 0;
  margin: 0;
}
/* h1 {
  font-family: "StyreneALCLight";
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 56px;
  line-height: 10%;
} */
header {
  background-color: #ffff;
  padding: 0 40px;
}
.navbar {
  padding-top: 31px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9de;
}
.search {
  position: relative;
  display: inline-block;
}
.search input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #5b5b80;
  background: #fcfcfc;
  border: 1px solid #d9d9de;
  border-radius: 8px;
  width: 358px;
  padding: 17px 55px 17px 20px;
}
.search input:focus {
  outline: 0;
}
.search .search-img {
  position: absolute;
  top: 19px;
  right: 24px;
  width: 20px;
}
.nav-unorder {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}
.nav-unorder > li {
  padding-left: 55px;
}
.nav-unorder .dropdown-toggle {
  border: 0;
  background-color: white;
  color: #808095;
}
.nav-unorder .dropdown-menu {
  right: 0;
  left: auto;
}
/* NAVEND */

.back {
  padding: 22px 0 8px 0;
}
.btnstyleone {
  font-family: "StyreneALC";
  font-size: 26px;
  line-height: 34px;
  color: #0e0e2c;
  display: flex;
  align-items: center;
}
.btnstyleone img {
  border: 1px solid #d9d9de;
  border-radius: 8px;
  padding: 11px;
  margin-right: 12px;
}

/* BUTTON START */
.btnstyletwo,
.web-applynow a {
  font-family: "StyreneALC";
  font-size: 16px;
  line-height: 21px;
}
.btnstyletwo {
  color: #4e1fa3;
  background: rgba(78, 31, 163, 0.05);
  border-radius: 8px;
  padding: 12px 18px;
  text-align: center;
}
.btnstyletwo:hover {
  color: #f5f5f6;
  background-color: #4e1fa3;
}
.web-applynow a {
  color: #ffffff;
  background: #4e1fa3;
  border-radius: 4px;
  padding: 12px 32px;
}
.web-applynow a:hover {
  color: #4e1fa3;
  background: rgba(78, 31, 163, 0.05);
}

/* BUTTON END */
.breadcrumb-item a {
  color: #808095;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.breadcrumb {
  margin-bottom: 40px;
  position: relative;
}
.breadcrumb:before {
  position: absolute;
  content: "";
  width: 76%;
  height: 1px;
  background-color: #d9d9de;
  top: 50%;
  right: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #808095;
  content: var(--bs-breadcrumb-divider, ">");
}
.web-creation {
  margin-top: 38px;
  border-top: 1px solid #d9d9de;
  border-bottom: 1px solid #d9d9de;
}
.web-creation,
.web-applynow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-creation h2 {
  padding: 32px 32px 32px 0;
}
.web-creation h2,
.web-applynow h3 {
  font-family: "StyreneALC";
  font-size: 26px;
  line-height: 34px;
  color: #111827;
}
.user-project-imgs {
  width: 100%;
}
.web-creation a {
  background-color: #ffffff;
  border: 1px solid #eff3fa;
  border-radius: 4px;
  padding: 12px;
  display: flex;
}
.web-applynow {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9de;
}

.developer-details {
  padding: 32px 0;
  border-bottom: 1px solid #d9d9de;
  display: flex;
  justify-content: space-between;
}
.developer-view h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808095;
  display: flex;
  align-items: center;
}
.developer-view img {
  padding-right: 9px;
}
.developer-view h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #4e1fa3;
  padding-top: 4px;
}
.about h3,
.tools h3 {
  font-family: "StyreneALC";
  font-size: 20px;
  line-height: 26px;
  color: #111827;
  padding: 32px 0;
}
.about p,
.about ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #9ca3af;
  margin-bottom: 0;
}

.tools {
  margin: 32px 0 60px 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9de;
  border-top: 1px solid #d9d9de;
}

.tools a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #4e1fa3;
  background: rgba(78, 31, 163, 0.05);
  border-radius: 8px;
  padding: 8px 10px;
  margin-right: 14px;
}
.contact-us {
  background-color: #ffffff;
  border: 1px solid #eff3fa;
  border-radius: 8px;
  padding: 27px 24px 29px 24px;
}
.contact-usone {
  display: flex;
  align-items: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #d9d9de;
}
.publisher {
  padding-left: 15px;
}
.publisher-details {
  padding-top: 29px;
}
.publisher-location {
  padding-top: 29px;
  padding-bottom: 29px;
  margin-top: 29px;
  border-top: 1px solid #d9d9de;
}
.publisher p,
.publisher-details p,
.publisher-location p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #808095;
  padding-bottom: 8px;
}
.publisher p img,
.publisher-details p img,
.publisher-location p img {
  padding-right: 8px;
}
.publisher h5,
.publisher-details h5,
.publisher-location h5 {
  font-family: "StyreneALC";
  font-size: 18px;
  line-height: 24px;
  color: #1e1e1e;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.tools-link {
  display: flex;
  flex-wrap: wrap;
}

.user-project-details {
  position: relative;
  height: 100%;
  display: flex;
}
.common-vertical {
  width: 245px;
  background-color: #4e1fa3;
  background-image: url(/assets/images/vertical-bg.png);
  background-size: contain;
  position: relative;
}
.common-details{
  padding: 0 14px;
}
.common-vertical::before{
  content: "";
  position: absolute;
  background: url(/assets/images/curve-bg.png) no-repeat;
  width: 245px;
  height: 288px;
  top: 35%;
}
.common-user {
  width: calc(100% - 245px);
}
.l1x-labs-link {
  padding-top: 29px;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.view-myproject {
  padding: 0 40px;
}
.vertical-unorder li a span{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 14px;
}
.vertical-unorder li a i{
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.vertical-unorder li{
  padding-bottom: 32px;
}
.vertical-unorder{
  padding-top: 32px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 1280px) {
  .search input {
    padding: 12px 55px 12px 15px;
    font-size: 15px;
    width: 330px;
  }
  .navbar {
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .search .search-img {
    right: 22px;
    width: 18px;
    top: 15px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 30px;
  }
  .nav-unorder > li {
    padding-left: 45px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 60px;
  }
  .breadcrumb:before {
    width: 74%;
  }
  .btnstyleone {
    font-size: 20px;
  }
  /* BUTTON START */
  .btnstyletwo {
    padding: 12px 12px;
  }
  .btnstyletwo,
  .web-applynow a {
    font-size: 15px;
  }
  .web-applynow a {
    padding: 12px 22px;
  }
  /* BUTTON END */
  .breadcrumb-item a {
    font-size: 15px;
  }
  .web-creation h2 {
    padding: 24px 24px 24px 0;
  }
  .web-creation h2,
  .web-applynow h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .web-creation {
    margin-top: 30px;
  }
  .web-applynow {
    margin-top: 24px;
    padding-bottom: 24px;
  }
  .developer-details {
    padding: 24px 0;
  }
  .developer-view h3 {
    font-size: 18px;
    padding-top: 0px;
  }
  .about h3,
  .tools h3 {
    font-size: 18px;
    padding: 24px 0 16px 0;
  }
  .about p,
  .about ul li {
    font-size: 16px;
    line-height: 28px;
  }
  .tools {
    margin: 24px 0 50px 0;
  }
  .tools a {
    font-size: 13px;
  }
  .contact-us {
    padding: 22px;
  }
  .publisher h5,
  .publisher-details h5,
  .publisher-location h5 {
    font-size: 15px;
    line-height: 22px;
  }
  .contact-usone {
    padding-bottom: 20px;
  }
  .publisher-details {
    padding-top: 20px;
  }
  .publisher-location {
    padding-top: 24px;
    padding-bottom: 20px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 1199px) {
  .breadcrumb:before {
    width: 70%;
  }
}
@media screen and (max-width: 1024px) {
  .search .search-img {
    right: 20px;
    width: 16px;
    top: 15px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 28px;
  }
  .nav-unorder > li {
    padding-left: 35px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 50px;
  }
  .search input {
    padding: 10px 45px 10px 12px;
    font-size: 15px;
    width: 315px;
  }
}
@media screen and (max-width: 991px) {
  .breadcrumb:before {
    width: 60%;
  }
  .btnstyleone {
    font-size: 18px;
  }
  .btnstyleone img {
    padding: 9px;
  }
  .btnstyletwo,
  .web-applynow a {
    font-size: 14px;
  }
  .breadcrumb-item a {
    font-size: 14px;
  }
  .breadcrumb {
    margin-bottom: 30px;
  }
  .web-creation h2,
  .web-applynow h3 {
    font-size: 18px;
  }
  .web-applynow a {
    padding: 10px 18px;
  }
  .developer-view h3 {
    font-size: 16px;
  }
  .about h3,
  .tools h3 {
    font-size: 16px;
  }
  .about p,
  .about ul li {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .search input {
    padding: 8px 35px 8px 10px;
    font-size: 14px;
    width: 240px;
  }
  .search .search-img {
    right: 14px;
    width: 14px;
    top: 13px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 24px;
  }
  .nav-unorder > li {
    padding-left: 25px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 45px;
  }
  .navbar {
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom: 0.5px solid #d9d9de;
  }
  .breadcrumb:before {
    width: 55%;
    height: 0.7px;
  }
  .btnstyleone {
    font-size: 16px;
  }
  .breadcrumb-item a {
    font-size: 13px;
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.3rem;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.3rem;
  }
  .btnstyletwo {
    font-size: 13px;
    padding: 10px;
  }
  .web-applynow a {
    font-size: 13px;
    padding: 8px;
  }
  .breadcrumb {
    margin-bottom: 25px;
  }
  .web-creation {
    margin-top: 25px;
  }
  .web-creation h2,
  .web-applynow h3 {
    font-size: 16px;
  }
  .web-creation h2 {
    padding: 20px 20px 20px 0;
  }
  .web-applynow {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .developer-details {
    padding: 20px 0;
  }
  .developer-view h3 {
    font-size: 15px;
  }
  .about h3,
  .tools h3 {
    padding: 20px 0 12px 0;
  }
  .about p,
  .about ul li {
    font-size: 14px;
    line-height: 26px;
  }
  .tools {
    margin: 20px 0 45px 0;
  }
  .tools a {
    margin-right: 10px;
  }
  .publisher h5,
  .publisher-details h5,
  .publisher-location h5 {
    font-size: 14px;
    line-height: 20px;
  }
  .publisher p,
  .publisher-details p,
  .publisher-location p {
    padding-bottom: 5px;
  }
  .web-creation a {
    padding: 8px;
  }
  .about ul {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .search input {
    width: 190px;
    padding: 6px 35px 6px 8px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 22px;
  }
  .search .search-img {
    right: 12px;
    top: 11px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 40px;
  }
  .nav-unorder > li {
    padding-left: 20px;
  }
  .navbar {
    padding-top: 15px;
  }

  .breadcrumb:before {
    width: 50%;
  }
  .web-creation h2,
  .web-applynow h3 {
    font-size: 15px;
    line-height: 24px;
  }
  .web-creation h2 {
    padding: 15px 20px 15px 0;
  }
  .web-applynow {
    margin-top: 15px;
    padding-bottom: 15px;
  }
  .developer-details {
    padding: 15px 0 0 0;
    flex-wrap: wrap;
  }
  .developer-view {
    padding-right: 40px;
    padding-bottom: 15px;
  }
  .about h3,
  .tools h3 {
    padding: 15px 0 12px 0;
    line-height: 24px;
  }
  .tools {
    margin: 15px 0px 40px 0;
  }
  .contact-us {
    padding: 20px;
  }
  .contact-usone > img {
    width: 40px;
  }
  .contact-usone {
    padding-bottom: 15px;
  }
  .publisher-details {
    padding-top: 18px;
  }
  .publisher-location {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .search input {
    width: 140px;
  }
  .nav-unorder > li {
    padding-left: 10px;
  }
  .nav-unorder .mail,
  .nav-unorder .notification {
    width: 20px;
  }
  .nav-unorder .dropdown-toggle .profile {
    width: 35px;
  }
  .search input {
    padding: 5px 30px 5px 7px;
    font-size: 12px;
  }
  .search .search-img {
    top: 10px;
    width: 13px;
  }
  .breadcrumb:before {
    width: 0;
  }
  .btnstyleone img {
    padding: 6px;
    margin-right: 6px;
    border-radius: 6px;
  }
  .btnstyleone {
    font-size: 13px;
  }
  .btnstyletwo {
    padding: 6px 8px;
    font-size: 12px;
  }
  .back {
    padding: 18px 0 8px 0;
  }
  .breadcrumb-item a {
    font-size: 12px;
  }
  .breadcrumb {
    margin-bottom: 20px;
  }
  .web-creation {
    margin-top: 20px;
  }
  .web-creation a {
    padding: 6px;
  }
  .web-applynow a {
    font-size: 12px;
    padding: 6px;
  }
  .developer-view {
    padding-right: 20px;
  }
  .about p,
  .about ul li {
    line-height: 25px;
  }
  .tools {
    padding-bottom: 24px;
  }
  .tools a {
    margin-right: 5px;
    font-size: 12px;
    border-radius: 4px;
    padding: 6px 8px;
  }
  .developer-view h3 {
    font-size: 14px;
  }
  .publisher p img,
  .publisher-details p img,
  .publisher-location p img {
    padding-right: 6px;
  }
  .about h3,
  .tools h3 {
    font-size: 15px;
  }
}
