* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  ul {
    margin-bottom: 0;
  }
  body {
    background-color: #f5f5f6;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  p {
    padding: 0;
    margin: 0;
  }
  header {
    background-color: #ffff;
    padding: 0 40px;
  }
  .navbar {
    padding-top: 31px;
    padding-bottom: 19px;
    border-bottom: 1px solid #d9d9de;
  }
  .search {
    position: relative;
    display: inline-block;
  }
  .search input {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #5b5b80;
    background: #fcfcfc;
    border: 1px solid #d9d9de;
    border-radius: 8px;
    width: 358px;
    padding: 17px 55px 17px 20px;
  }
  .search input:focus {
    outline: 0;
  }
  .search .search-img {
    position: absolute;
    top: 19px;
    right: 24px;
    width: 20px;
  }
  .nav-unorder {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
  }
  .nav-unorder > li {
    padding-left: 55px;
  }
  .nav-unorder .dropdown-toggle {
    border: 0;
    background-color: white;
    color: #808095;
  }
  .nav-unorder .dropdown-menu {
    right: 0;
    left: auto;
    width: 273px;
    border: 1px solid #ebecef;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
  }
  .nav-unorder .dropdown-menu li {
    padding: 12px 24px 12px 14px;
    margin: 0 8px;
  }
  .nav-unorder .dropdown-menu li:hover:not(:first-child) {
    background: rgba(78, 31, 163, 0.1);
    border-radius: 8px;
  }
  .nav-unorder .dropdown-menu li h4 {
    font-family: "StyreneALC";
    font-size: 18px;
    color: #4e1fa3;
  }
  .nav-unorder .dropdown-menu li .client-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8e8e93;
  }
  .nav-unorder .dropdown-menu .dropdownterm {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #0e0e2c;
  }
  .nav-unorder .dropdown-menu .dropdownterm i {
    padding-right: 14px;
    font-size: 16px;
    color: #aeaeb2;
  }
  .nav-unorder .dropdown-menu hr {
    border-bottom: 1px solid #ebecef;
    border-top: 0;
    opacity: 0.8;
    margin: 5px 0;
  }
  .nav-unorder .notification {
    width: 32px;
    height: 33px;
  }
  .nav-unorder li:nth-child(2) {
    position: relative;
  }
  .nav-unorder li:nth-child(2)::before {
    content: "";
    position: absolute;
    background: url(/assets/images/dot.png);
    width: 10px;
    height: 10px;
    right: 5px;
    background-size: cover;
  }
  /* NAVEND */

  .user-project-details {
    position: relative;
    height: 100vh;
    min-height: 875px;
    display: flex;
  }
  .common-vertical {
    width: 245px;
    background-image: url(/assets/images/vertical-bg.png);
    position: relative;
    height: 100%;
  }
  /* .common-vertical1{
    position: absolute;
    bottom: 0;
  } */
  .common-vertical1 {
    padding-top: 30px;
}
  .common-user {
    width: calc(100% - 245px);
    height: 100%;
  }
  .l1x-labs-link {
    padding-top: 29px;
  }
  .l1x-labs-link hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 27px;
    margin: 0 14px;
  }
  .vertical-unorder li a span {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    padding-left: 14px;
  }
  .vertical-unorder li a i {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .vertical-unorder li {
    padding: 16px 42px;
    border-left: 5px solid transparent;
  }
  .vertical-unorder li:hover {
    background-color: #232369;
    border-left: 5px solid #4e1fa3;
  }
  .vertical-unorder li.active {
    background-color: #232369;
    border-left: 5px solid #4e1fa3;
  }
  .vertical-unorder hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 16px 14px 0 14px;
  }
  .vertical-unorder {
    padding-top: 16px;
    padding-left: 0;
    list-style: none;
  }

  /* TAB and CHAT BOX START */
  .user-chat .user-chat-main{
    --bs-gutter-x: 0;
    height: 100%;
  }
  .user-chat-main .chat-nav{
    padding: 0 11px;
  }
  .user-chat-main .chat-nav .tabs-head{
    padding: 25px 0 5px;
    color: #92929D;
    font-family: "StyreneALC";
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #4E1FA3;
    border-radius: 4px;
    background: rgba(78, 31, 163, 0.15);
}
   .chat-nav .nav-link {
    color: #171725;
    font-family: "StyreneALC";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.12px;
    padding: 9px 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .chat-nav .nav-link span{
    padding: 1px 9px 2px;
    color: #FFF;
    font-family: Segoe UI;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    background-color: #4E1FA3;
    border-radius: 100%;
   }
   .user-chat{
    height:calc(100% - 114px);
   }
   .chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9DE;
    background-color: #F9F9F9;
    padding: 11px 40px;
   }
   .user-sidemain{
    border-left: 1px solid #D9D9DE;
    background-color: #FFF;
    height: 100%;
   }
   .chat-header-one h3{
    font-family: "StyreneALC";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    color:  #192A44;
    padding-bottom: 4px;
   }
   .chat-header-one p{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    color:  #192A44;
   }
   .chat-header-two .user-detailbtn{
    color: #4E1FA3;
    font-family: "StyreneALC";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    border-radius: 8px;
    background: rgba(78, 31, 163, 0.10);
    padding: 8px 24px;
    margin-left: 28px;
   }
   .chat-header-two .user-detailbtn:hover{
    background-color: #4E1FA3;
    color: #fff;
   }
   .chat-header-two .user-imgs{
    margin-left: 24px;
   }
   .chat-header-two .user-imgs span{
    color: #192A44;
    font-family: "StyreneALC";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
   }
   .chat-commmon{
    height: 100%;
   }
   .chat-commmon .usertype-common{
    height: calc(100% - 70px);
    position: relative;
   }
   .usertype-common .usertype-view{
    height: 100%;
    padding: 0px 40px;
    overflow-y: auto;
    }
    .user-sidemain .tab-content, 
    .user-sidemain .tab-pane{
    height:100%;
    }

   /* BTM-COMMON-START */
   .btm-common{
    position: absolute;
    bottom: 11px;
    left:40px;
    right: 40px;
   }
   .btm-common .btm-type-one{
    padding: 10px 14px;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #D9D9DE;
    background-color: #fff;
   }
   .btm-common .btm-type-one input{
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    border: 0;
    outline: 0;
   }
   .btm-common .btm-type-one input::placeholder{
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #A0AEC0;
   }
   .btm-common .btm-type-two{
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #D9D9DE;
    background: #F5F5F6;
    padding: 10px 14px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
   }
   .btm-common .btm-send-btn{
    font-family: "StyreneALC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #FFF;
    border-radius: 8px;
    background: #4E1FA3;
    padding: 8px 24px;
    gap: 10px;
    display: inline-flex;
    align-items: center;
   }
    /* BTM-COMMON-END */

    /* USERTYPE START */
    .usertype-view .usertype-describe h3{
    color: #192A44;
    font-family: "StyreneALC";
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-bottom: 4px;
    }
    .usertype-view .usertype-describe p{
    color: #192A44;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    }
    .usertype-view .usertype-describe p a{
    color: #4E1FA3;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
    }
    .usertype-view .usertype-describe{
    padding-bottom: 26px;
    margin-bottom: 26px;
    border-bottom: 1px solid #D9D9DE;
    }
    .usertype-view .username-text span,
    .usertype-view .username-textlft span{
        color: #5F646D;
        font-family: "StyreneALC";
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; 
        padding-top: 2px;
    }
    .usertype-view .username-text h5, 
    .usertype-view .username-textlft h5{
        color: #000;
        font-family: "StyreneALC";
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.56px;
    }
    .usertype-view .usertype-right{
        display: flex;
        align-items: flex-start;
        justify-content: end;
        gap: 8px;
        padding-bottom: 20px;
    } 
    .usertype-view .usertype-right .usertime, 
    .usertype-view .usertype-left .usertime{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }
    .usertype-view .username-text p, 
    .usertype-view .username-textlft p{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px; 
        padding: 6px 12px 6px 18px;
    }
    .usertype-view .username-text p{
        border-radius: 18px 0px 18px 18px;
        background-color: #4E1FA3;
        color: #FFF;
    }
    .usertype-view .username-textlft p{
        color: #000;
        border-radius: 0px 18px 18px 18px;
        background-color: #F5F5FA;
        margin-bottom: 4px;
    }
    .usertype-view .usertype-left{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        gap: 8px;
        padding-bottom: 20px;
    }
    /* USERTYPE END */

  /* TAB and CHAT BOX END */

  @media screen and (max-width: 1280px) {
    .search input {
      padding: 12px 55px 12px 15px;
      font-size: 15px;
      width: 330px;
    }
    .navbar {
      padding-top: 25px;
      padding-bottom: 15px;
    }
    .search .search-img {
      right: 22px;
      width: 18px;
      top: 15px;
    }
    .nav-unorder .mail,
    .nav-unorder .notification {
      width: 30px;
      height: 30px;
    }
    .nav-unorder > li {
      padding-left: 45px;
    }
    .nav-unorder .dropdown-toggle .profile {
      width: 60px;
    }
    .nav-unorder .dropdown-menu {
      width: 250px;
    }
    .nav-unorder .dropdown-menu li {
      padding: 10px 14px 10px 14px;
    }
    .vertical-unorder {
      padding-top: 10px;
    }
    .vertical-unorder hr {
      margin: 12px 14px 0 14px;
    }
    .vertical-unorder li {
      padding: 12px 42px;
    }
    .nav-unorder li:nth-child(2)::before {
      right: 4px;
      width: 9px;
      height: 9px;
    }
  
      /* TAB and CHAT BOX START */

      /* TAB and CHAT BOX END */
  }
  @media screen and (max-width: 1199px) {
    .common-vertical {
      width: 230px;
      background-image: url(/assets/images/vertical-bg.png);
      position: relative;
    }
    .common-user {
      width: calc(100% - 230px);
    }
    header {
      background-color: #ffff;
      padding: 0 20px;
    }

    /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  }
  @media screen and (max-width: 1024px) {
    .search .search-img {
      right: 20px;
      width: 16px;
      top: 15px;
    }
    .nav-unorder .mail,
    .nav-unorder .notification {
      width: 28px;
      height: 28px;
    }
    .nav-unorder li:nth-child(2)::before {
      right: 3px;
    }
    .nav-unorder > li {
      padding-left: 35px;
    }
    .nav-unorder .dropdown-toggle .profile {
      width: 50px;
    }
    .search input {
      padding: 10px 45px 10px 12px;
      font-size: 15px;
      width: 315px;
    }
    body {
      font-weight: 500;
    }
    /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  }
  @media screen and (max-width: 991px) {
    .common-vertical {
      width: 100px;
    }
    .l1x-labs-link a img {
      width: 60px;
    }
    .common-user {
      width: calc(100% - 100px);
    }
    .vertical-unorder li a span {
      display: none;
      padding-left: 0;
    }
    .vertical-unorder li {
      position: relative;
    }
    .vertical-unorder li:hover span {
      position: absolute;
      left: 100%;
      top: 0px;
      display: block;
      z-index: 1;
      padding: 0.9rem;
      background-color: #232369;
      color: white;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      white-space: nowrap;
    }
    /* .common-vertical::before {
      display: none;
    } */
    .vertical-unorder li {
      border-left: 3px solid transparent;
    }
    .vertical-unorder li:hover {
      border-left: 3px solid #4e1fa3;
    }
    .vertical-unorder li.active {
      border-left: 3px solid #4e1fa3;
    }
    .l1x-labs-link hr {
      padding-bottom: 20px;
    }
    .vertical-unorder hr {
      margin: 8px 14px 0 14px;
    }

   /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  }
  @media screen and (max-width: 767px) {
    .search input {
      padding: 6px 35px 6px 10px;
      font-size: 13px;
      width: 190px;
    }
    .search .search-img {
      right: 14px;
      width: 12px;
      top: 12px;
    }
    .nav-unorder .mail,
    .nav-unorder .notification {
      width: 22px;
      height: 22px;
    }
    .nav-unorder > li {
      padding-left: 25px;
    }
    .nav-unorder .dropdown-toggle .profile {
      width: 35px;
    }
    .navbar {
      padding-top: 15px;
      padding-bottom: 12px;
      border-bottom: 0.5px solid #d9d9de;
    }
    .nav-unorder .dropdown-menu li h4 {
      font-size: 15px;
    }
    .nav-unorder .dropdown-menu .dropdownterm {
      font-size: 13px;
    }
    .nav-unorder .dropdown-menu .dropdownterm i {
      padding-right: 8px;
    }
    .nav-unorder .dropdown-menu li {
      padding: 8px;
    }
    .nav-unorder .dropdown-menu {
      width: 230px;
    }
    .nav-unorder .dropdown-menu li .client-mail {
      font-size: 12px;
    }
    .common-vertical {
      width: 80px;
    }
    .common-user {
      width: calc(100% - 80px);
    }
    .vertical-unorder li {
      padding: 10px 30px;
    }
    .vertical-unorder li a i {
      font-size: 15px;
    }
    .l1x-labs-link a img {
      width: 45px;
    }
    .l1x-labs-link {
      padding-top: 16px;
    }
    .vertical-unorder hr,
    .l1x-labs-link hr {
      border-bottom: 0.7px solid rgba(255, 255, 255, 0.8);
    }
    .l1x-labs-link hr {
      padding-bottom: 15px;
    }
    .vertical-unorder li a span {
      font-size: 13px;
    }
    .vertical-unorder li:hover span {
      padding: 0.8rem;
    }
    header {
      padding: 0 15px;
    }
    .nav-unorder li:nth-child(2)::before {
      right: 2px;
      top: 3px;
      width: 8px;
      height: 8px;
    }

   /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  }
  @media screen and (max-width: 575px) {
    .search input {
      padding: 5px 30px 5px 7px;
      font-size: 11px;
      width: 125px;
    }
    .nav-unorder .mail,
    .nav-unorder .notification {
      width: 20px;
      height: 20px;
    }
    .nav-unorder li:nth-child(2)::before {
      width: 7px;
      height: 7px;
    }
    .search .search-img {
      right: 12px;
      top: 11px;
    }
    .nav-unorder .dropdown-toggle .profile {
      width: 30px;
    }
    .nav-unorder > li {
      padding-left: 20px;
    }
    .navbar {
      padding-top: 15px;
    }
    .nav-unorder .dropdown-menu {
      width: 175px;
    }
    .nav-unorder .dropdown-menu li .client-mail {
      font-size: 11px;
      word-wrap: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    .nav-unorder .dropdown-menu li {
      padding: 7px;
    }
    .nav-unorder .dropdown-menu hr {
      border-bottom: 0.8px solid #ebecef;
    }
    .nav-unorder .dropdown-menu .dropdownterm {
      font-size: 12px;
    }
    .nav-unorder .dropdown-menu .dropdownterm i {
      padding-right: 6px;
      font-size: 14px;
    }
    .l1x-labs-link hr {
      padding-bottom: 13px;
      margin: 0 8px;
    }
    .l1x-labs-link a img {
      width: 45px;
    }
    .vertical-unorder li {
      padding: 8px 20px;
    }
    .common-vertical {
      width: 60px;
    }
    .common-user {
      width: calc(100% - 60px);
    }
    .vertical-unorder li:hover span {
      padding: 0.7rem;
    }
    .vertical-unorder li a span {
      font-size: 12px;
      line-height: 18px;
    }
    header {
      padding: 0 12px;
    }

   /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  
  }
  @media screen and (max-width: 480px) {
    .nav-unorder > li {
      padding-left: 8px;
    }
    .nav-unorder .mail,
    .nav-unorder .notification {
      width: 17px;
      height: 17px;
    }
    .search input {
      padding: 5px 30px 5px 7px;
      font-size: 11px;
      width: 120px;
    }
    .search .search-img {
      top: 10px;
      width: 13px;
    }
    .nav-unorder li:nth-child(2)::before {
      width: 6px;
      height: 6px;
      right: 2px;
      top: 6px;
    }

  /* TAB and CHAT BOX START */

  /* TAB and CHAT BOX END */
  }
  