* {
  margin: 0;
  padding: 0;
}

h2::first-letter {
  color: red;
}
.contain {
  height: 100vh;
  width: 100%;
  background-image: url(Images/business.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}
.navbar {
  width: 100%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;
}
h2 {
  cursor: pointer;
  margin-left: 10%;
}
nav {
  flex: 1;
  padding-left: 40px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
.navbar ul li:hover {
  background-color: lightgreen;
  padding: 8px;
  border-radius: 15%;
  font-size: large;
}
.content {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content h1 {
  font-variant: small-caps;
}
/* .arrow-icons{
  margin-top: 40px;
  display: flex;
  cursor: pointer;
}
.arrow-icons i{
  margin: 0% 10%;
}
.arrow-icons i:hover{
  background-color: lightgreen;
  padding: 10px;
} */
.button {
  background-color: green;
  border: none;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  margin: 0% 10%;
  margin-top: 5%;
}

.button:hover {
  background-color: lightgreen;
}
.port h3 {
  margin-top: 5%;
  margin-bottom: 3%;
  text-decoration: underline;
}
.port pre,
h3 {
  text-align: center;
}
.port .box-container {
  display: inline-block;
  margin: 5px 20px;
}
.present {
  width: 100px;
  cursor: pointer;
  float: left;
}
.box-container1 {
  display: inline-flex;
  margin-top: 3%;
  margin-left: 15%;
  justify-content: center;
  padding: 0% 5%;
}
.port1 h3 {
  margin-top: 35%;
  margin-bottom: 3%;
  margin-right: 0%;
  text-decoration: underline;
}
.port1 pre,
h3 {
  text-align: center;
}
.port1 .box-container2 {
  display: inline-flex;
  margin: 0px 5px;
  margin-top: 2%;
}
.port1 img {
  width: 100px;
  cursor: pointer;
  float: left;
}
.port2 h3 {
  margin-top: 14%;
  margin-bottom: 3%;
  text-decoration: underline;
}
.port2 pre,
h3 {
  text-align: center;
}

.port {
  margin-right: 0%;
}
.port2 .box-container3 {
  display: inline-flex;
  margin: 0px 5px;
  margin-top: 0%;
  padding: 3%;
}
.port2 img {
  width: 200px;
  cursor: pointer;
  margin-left: 5%;
}
.single-line {
  cursor: pointer;
  margin-top: 5%;
  width: 94%;
  padding: 3%;
  position: absolute;
  background-color: dodgerblue;
  flex: content;
  justify-items: center;
  display: flex;
  justify-content: space-between;
}

.s1 {
  cursor: pointer;
  display: inline;
  padding: 1%;
  position: relative;
  background-color: transparent;
  color: aliceblue;
  font-size: large;
}
.port3 h3 {
  margin-top: 14%;
  margin-bottom: 3%;
  text-decoration: underline;
}
.port3 pre,
h3 {
  text-align: center;
}
.port3 .box-container4 {
  /* display: inline; */
  margin: 0px 5px;
  margin-top: 0%;
  padding: 10%;
}
.BASIC1 {
  position: relative;
  background-color: black;
  color: aliceblue;
  padding: 10%;
  width: 80%;
  text-align: center;
}
.BASIC0 {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.Com {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.single {
  cursor: pointer;
  margin-top: 25%;
  width: 94%;
  padding: 3%;
  position: absolute;
  background-color: dodgerblue;
  flex: content;
  justify-items: center;
  display: flex;
  justify-content: space-between;
}

.s2 {
  cursor: pointer;
  display: inline;
  padding: 1%;
  position: relative;
  background-color: transparent;
  color: aliceblue;
  font-size: large;
}