@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StyreneALC';
  src: url('../fonts/StyreneALCRegular.eot');
  src: url('../fonts/StyreneALCRegular.eot') format('embedded-opentype'),
       url('../fonts/StyreneALCRegular.woff2') format('woff2'),
       url('../fonts/StyreneALCRegular.woff') format('woff'),
       url('../fonts/StyreneALCRegular.ttf') format('truetype'),
       url('../fonts/StyreneALCRegular.svg#StyreneALCRegular') format('svg');
}

.tabcontent {
    display: none;
  }
  .tab button.active{
    background-color: rgba(78, 31, 163, 0.15);
    border-radius: 4px;
    color: #4E1FA3;
}