* {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.firstsection {
  background-color: black;
  padding: 3px;
}
.header1 {
  display: flex;
}
.headerdropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.dropbtn2 {
  background-color: dodgerblue;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 15px;
  color: white;
  padding-left: 30px;
  border: none;
}
.dropbtn2 i {
  padding: 0px 30px;
}
.dropdown-content1 {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 10px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
  min-width: 148px;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.headerdropdown:hover .dropdown-content1 {
  display: block;
  position: absolute;
}
.cont {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header2 a {
  color: #ddd;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}
.header2 i {
  color: lightgreen;
  padding-right: 5px;
}
.header3 i {
  color: lightgreen;
  padding-right: 5px;
}
.header3 a {
  text-decoration: none;
  color: #ddd;
}
.header4 {
  display: flex;
}
.header6 {
  color: lightgreen;
  margin-right: 10px;
  margin-left: 10px;
}
.header5 {
  color: aliceblue;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-title::first-letter {
  color: lightgreen;
}

.navbar {
  overflow: hidden;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  white-space: normal;
}
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fa {
  padding-left: 5px;
}
.dropdown0 {
  display: inline-flex;
}
.CONTACT {
  margin-right: 50px;
}
.dropdown {
  overflow: hidden;
  color: black;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn1 a {
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 60px;
  text-decoration: none;
  padding: 12px 20px;
}
.dropbtn1 a:hover {
  background-color: white;
  color: dodgerblue;
  border-radius: 60px;
  border: 2px solid dodgerblue;
}

.dropbtn1 {
  list-style-type: none;
  display: inline-block;
}
h2 {
  cursor: pointer;
  font-size: 30px;
}
.bg-image {
  background-image: url(Image/background\ image1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 580px;
}
.bg-image::before {
  content: " ";
  position: absolute;
  opacity: 0.6;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(16, 16, 16);
}
.bg-image-one {
  padding-top: 180px;
  padding-bottom: 50px;
}
.bg-content-two {
  text-align: left;
  position: relative;
}
.bg-content-two p {
  font-family: sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 30px;
}
.bg-content-two h1 {
  font-family: "Heebo";
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 38px;
  border-style: none;
  margin: 0px;
  white-space: normal;
  line-height: 60px;
}

i.fas.fa-circle-arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-40%, -40%);
  color: white;
  height: 50px;
  width: 40px;
  font-size: 40px;
  cursor: pointer;
  line-height: 50px;
}

i.fas.fa-circle-arrow-right {
  position: absolute;
  top: 50%;
  right: 4%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-40%, -40%);
  color: lightgreen;
  height: 50px;
  width: 40px;
  font-size: 40px;
  cursor: pointer;
  line-height: 50px;
}

.button0 {
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  /* margin: 0% 1%;
  margin-top: 0%; */
  font-family: "Merriweather Sans";
  white-space: normal;
  letter-spacing: normal;
}

.button1 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0% 1%;
  margin-top: 3%;
  font-family: "Merriweather Sans";
  white-space: normal;
  letter-spacing: normal;
}
.Service-section{
  position: relative;
  padding-top: 5%;
  
}
.Sec-title {
  position: relative;
  /* margin-bottom: 20px; */
  text-align: center;
  /* margin-top: 100px; */
}
.Sec-title h2 {
  position: relative;
  font-size: 26px;
  color: black;
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.separeter-line {
  position: relative;
  margin-top: 10px;
}

.line-one {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin: auto;
  margin-bottom: 1px;
  background-color: #54be73;
}

.separeter-line .line-one::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}

.separeter-line .line-one::after {
  position: absolute;
  content: "";
  right: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}

.separeter-line .line-two {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin: auto;
  background-color: #54be73;
}

.separeter-line .line-two::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}

.separeter-line .line-two::after {
  position: absolute;
  content: "";
  right: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.text {
  position: relative;
  color: #777777;
  font-size: 16px;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.title-box {
  position: relative;
  margin-bottom: 50px;
  display: flex;
}
.title-box1 {
  position: relative;
}
.image-box {
  position: relative;
  padding: 10px;
}
.image-box img {
  position: relative;
  width: 100%;
  display: block;
}
.lower-box {
  position: relative;
  padding: 10px;
}
.icon-box {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #207fdd;
}
.icon-box span{
  font-size: 40px;
}
.separeter-line1 {
  position: relative;
  margin-top: 20px;
}
.line-one1 {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin-bottom: 1px;
  background-color: #54be73;
}
 .line-one1::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.line-two1 {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin-bottom: 1px;
  background-color: #54be73;
}
 .line-two1::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.text1 {
  position: relative;
  color: #777777;
  font-size: 16px;
/* width: 480px; */
  margin-top: 25px;
  margin-bottom: 0px;
  line-height: 25px;
  text-align: left;
  
}
.SALES-EFFECTIVENESS h1{
  text-align: left;
}
.SALES-EFFECTIVENESS a{
  text-decoration: none;
color: black;
}
/* SMALL SIZE FIRST IMAGE */
.title-head{
display: flex;
padding-top: 40px;

}
.title-box2 {
  position: relative;
  display: flex;
  /* width: 33.333%; */
  /* display: flex; */
}
.image-box2 {
  position: relative;
  padding: 15px;
}
.image-box2 img {
  position: relative;
  /* display: block; */
}
.lower-box2 {
  position: relative;
  padding-top: 20px;

}
/* .icon-box2 {
  position: absolute;
  right: 100px;
  top: 25px;
  color: #207fdd;
}
.icon-box2 span{
  font-size: 50px;
} */
.separeter-line1 {
  position: relative;
  margin-top: 10px;
}

.line-one1 {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin-bottom: 1px;
  background-color: #54be73;
}

.separeter-line1 .line-one1::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}

.separeter-line1 .line-two1 {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  background-color: #54be73;
}

.separeter-line1 .line-two1::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}

.text2 {
  position: relative;
  color: #777777;
  font-size: 16px;
/* width: 480px; */
  padding-top: 22px;
  padding-bottom: 0px;
  line-height: 25px;
}
.SALES-EFFECTIVENESS2 a{
  position: relative;
  text-decoration: none;
color: black;
}
.counter-head{
  background-image: url(Image/background\ image1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
margin-top: 90px;
}
.counter-head1{
display: flex;
justify-content:space-between;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
color: white;
position: relative;
}
.icon-search i{
  font-size: 30px;
}
.count-text{
  font-size: 30px;
}
.count-outer{
  padding-top: 10px;
  padding-bottom: 10px;
}
.counter-head::before{
  position: absolute;
  content:" ";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: .8;
  background-color:dodgerblue;
}

/* WHAT WE DO STARTING */
.what-we-do{
  position: relative;
  padding-top: 7%;
}
.text3{
  position: relative;
  color: #777777;
  font-size: 16px;
  padding:30px;
  line-height: 30px;
  font-weight: lighter;
}
.text-unique{
  font-weight: lighter;
  position: relative;
  color: #777777;
  font-size: 16px;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
}
.unique-icon i{
  color: dodgerblue;
  font-size: 50px;
  padding-bottom: 10px;
}
.unique-approach a{
  position: relative;
  text-decoration: none;
  color:black;
}
.separeter-unique-line{
  position: relative;
  margin-top: 10px;
}
.line-unique-one{
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin: auto;
  margin-bottom: 1px;
  background-color: #54be73;
}

.line-unique-one::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.line-unique-two {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin: auto;
  background-color: #54be73;
}
.line-unique-two::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.common-division{
  
  display:flex ;
  text-align: center;
  
}
.unique-approach{ 
box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
margin-left: 35px;
padding-top: 60px;
padding-bottom: 25px;
}
/* WHAT WE DO ENDING */
/* OUR TEAM MEMBERS START */
.Sec-team-title {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 250px;
}
.Sec-team-title h2 {
  font-size: 26px;
  color: black;
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.team-text-title{
  font-weight: lighter;
  position: relative;
  color: #777777;
  font-size: 16px;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 45px;
}
.our-team{
position: relative;
}
.our-team-body{
  position: relative;
}
.our-team::before{
  position: absolute;
  content:" ";
  top: -130px;
  bottom: -130px;
  left: 0px;
  right: 0px;
  opacity: .8;
  background-color: lightgray;
}
.members-four{
display: flex;
justify-content:space-evenly;
margin-bottom: 250px;
}
.members-four-img1{
width: 280px;
height: 250px;
}
.member-details{
text-align: center;
padding: 16px;
background-color: white;
}
.member-name{
color: #54be73;
font-size: 16px;
}
.designation{
  position: relative;
  color: #777777;
  font-size: 15px;
  line-height: 30px;
  font-weight: lighter;
}
.members-four1{
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);

}
/* OUR TEAM THIRD START */
  .members-four-img2{
  width: 280px;
  height: 250px;
  /* display:block; */
  }
  .member-details2{
  text-align: center;
  padding: 16px;
  background-color: white;
  }
  .member-name2{
  color: #54be73;
  font-size: 16px;
  }
  .designation2{
    position: relative;
    color: #777777;
    font-size: 15px;
    line-height: 30px;
    font-weight: lighter;
  }
  .members-four2{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .members-third-img-icon {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  /* .overlay { COMMON HOVER
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: dodgerblue;
  } */
  .overlay {
    position: absolute; 
            transition: 0.7s ease; 
            opacity: 0; 
	          width: 280px; 
            height: 0%; 
            top: 0%; 
            left: 0px; 
            background-color: dodgerblue;
  }
  .members-third-img-icon:hover .overlay {
    opacity: 0.7;
    height:250px;
  }  
  .emp0-icon{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
  }
.emp0-icon i{
  font-size: 25px;
padding:5px;
}
  .emp0-icon i:hover{
   color: #54be73;
  }
 /* OUR TEAM MEMBERS END */
 /* PRICING PLAN START */
.price{
  position: relative;
}
  .Sec-price-title {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
  }
  .Sec-price-title h2 {
    font-size: 26px;
    color: black;
    font-weight: 700;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
.text-unique-price{
  font-weight: lighter;
  position: relative;
  color: #777777;
  font-size: 16px;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
  .price-box1{
    position: relative;
    display:inline-flex;
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: center;
  }
.inner-box-full{
position: relative;
width: 25%;
padding:20px;
}
.upper-box{
position: relative;
text-align: center;
background-image:url(/Image/upper\ image.png);
color: white;
padding:50px;
border: 2px solid #e7e7e7;
}
.upper-box1{
  position: relative;
text-align: center;
background-image:url(/Image/blue-background.jpg);
color: white;
padding:50px;
border: 2px solid #e7e7e7;
}
.lower-box{
  position: relative;
  padding: 20px 0px;
  text-align: center;
  border: 2px solid #e7e7e7;
}
.lower-box ul{
  position: relative;
}
.lower-box ul,li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.mark-list{
  text-decoration: line-through;
  color: #c1c1c1;
}
.price-box1 .inner-box-full .lower-box ul li {
position: relative;
font-size: 16px;
font-weight: 400;
padding-bottom: 14px;
line-height: 25px;
}
.price-btn{
  cursor: pointer;
  padding: 10px 30px;
  line-height: 40px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: black; 
}
.price-btn1{
  cursor: pointer;
  padding: 10px 30px;
  line-height: 40px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  background-color: dodgerblue; 
}
.month{
  color: lightgreen;
}
.upper-box h3{
  font-size: 50px;
  padding-top: 20px;
}
.upper-box1 h3{
  font-size: 50px;
  padding-top: 20px;
}
.price-head{
    background-image:url(Image/background\ image1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  margin-top: 90px;
}
.price-head::before{
  position: absolute;
  content:" ";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: .8;
  background-color:dodgerblue;
}
.price-sentence{
  text-align: left;
  justify-content: center;
  padding: 40px;
  width: 50%;
  line-height: 25px;
  color: white;
}
.price-head1{
  display: flex;
  justify-content:center;
  padding: 20px;
  position: relative;
}
.price-sentence h3{
padding-top:25px;
line-height: 25px;
}
.price-sentence p{
font-weight: lighter;
}
.price-sentence q{
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
}
.rounded{
  width: 20%;
  border-radius: 100%;
  padding: 10px;
}
.price-img{
  width: 50%;
padding-left: 40px;
margin: auto;
}
/* PRICING PLAN END */
/* LATEST BLOG START */
.latest{
  padding-bottom: 70px;
}
.latest-head{
  padding-top: 150px;
}
.latest-title {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.latest-title h2 {
  font-size: 26px;
  color: black;
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: uppercase;
}
.text-latest{
  font-weight: lighter;
  position: relative;
  color: #777777;
  font-size: 16px;
 text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.latest-image{
  width:280px;
  height: 270px;
}
.latest-common{
display: flex;
}
.latest-section1{
  width: 100%;
  display: flex;
}
.latest0{
width: 50%;
padding: 15px;
display: flex;
}
.latest1{
  padding: 15px;
  background-color:#54be73;
  text-align: center;
}
.latest1 li{
  color: white;
}
.num{
font-size: 20px;
}
.latest2{
  padding-left: 20px;
}
.latest2 h4{
  font-size: 20px;
}
.latest2 i{
 color: dodgerblue;
 padding-top: 15px;
}
.latest2 span{
  font-weight: lighter;
  color: #777777;
}
.latest-content{
  width: 50%;
  padding-left: 20px;
}
.latest-paragraph p{
  padding-top: 40px;
  padding-bottom: 15px;
  line-height: 25px;
font-weight: lighter;
font-size: 16px;
color: #777777;
}
.latest-btn{
  background-color: white;
  border:3px solid green;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}
/* Latest-Underline-Code */
.separeter-latest-line{
  position: relative;
  margin-top: 10px;
}
.line-latest-one{
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin-bottom: 1px;
  background-color: #54be73;
}

.line-latest-one::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.line-latest-two {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  background-color: #54be73;
}
.line-latest-two::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
/* LATEST BLOG END */

form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  /* float: left; */
  width: 50%;
  background: #f1f1f1;
}
.example{
  justify-content: center;
  margin: auto;
  display: flex;
  padding: 40px;
}
form.example button {
  /* float: left; */
  width: 15%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}
.keep-up-body{
 text-align: center;
  /* margin: auto; */
  padding:40px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.keep-up-body h4{
  font-size: large;
}
.Para-icon-common p{
  color: #777777;
}
.Para-icon-common i{
  color: #777777;
  padding: 5px;
  font-size: 20px;
  line-height: 40px;
}
.Para-icon-common i:hover{
  color:lightgreen;
}
.keep-up{
  padding-bottom: 100px;
}
/* FOOTER START */
.footer{
  background-color: black;
}
.footer-title::first-letter {
  color: lightgreen;
}
.footer-title{
  color: white;
  padding-top: 30px;
  padding-bottom: 35px;
}
.foot-icon-text a{
display: block;
color: #777777;
text-decoration: none;
}
.foot-icon-text i{
  color: lightgreen;
}
.footer2 a{
  display: block;
  color: #777777;
text-decoration: none;
line-height: 40px;
}
.footer2 a:hover{
  color: lightgreen;
}
.footer2 i{
padding: 5px;
}
.footer-body{
  display: flex;
  width: 100%;
}
.footer1{
  width: 25%;
  color: #777777;
  line-height:30px;
}
.footer2{
  width: 25%;
  color: #777777;
  text-align:left;
  padding-left: 100px;
}
.footer4{
  width: 25%;
}
.footer4 img{
  width: 80px;
}
.footer-body h3{
 padding-top: 30px;
 padding-bottom: 10px;
font-size: larger;
color: white;
}
/* FOOTER HEADING UNDERLINE */
.separeter-footer-line{
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}
.line-footer-one{
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  margin-bottom: 1px;
  background-color: #54be73;
}

.line-footer-one::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
.line-footer-two {
  position: relative;
  height: 1px;
  width: 28px;
  left: 9px;
  background-color: #54be73;
}
.line-footer-two::before {
  position: absolute;
  content: "";
  left: -9px;
  top: 0px;
  height: 1px;
  width: 7px;
  background-color: #54be73;
}
/* FOOTER END */
.copyrights-head{
  background-color: dodgerblue;
}
.copyrights{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.copyrights i{
  font-size:larger;
}