* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.firstsection {
  background-color: black;
  padding: 5px;
}
.header1 {
  display: flex;
}
.headerdropdown {
  display: inline-flex;
}
.dropbtn2 {
  background-color: dodgerblue;
  width: 150px;
  border-radius: 2%;
  color: white;
}
.dropbtn2 i {
  padding: 1% 10%;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 1px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.headerdropdown:hover .dropdown-content1 {
  display: block;
}
.cont {
  display: flex;
  justify-content: space-between;
}
.header2 a {
  font-size: 16px;
  color: #ddd;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}
.header2 i {
  color: lightgreen;
  padding-right: 5px;
}
.header3 i {
  color: lightgreen;
  padding-right: 5px;
}
.header3 a {
  text-decoration: none;
  color: white;
}
.header4 {
  display: flex;
}
.header6 {
  color: lightgreen;
  margin-right: 15px;
  margin-left: 15px;
}
.header5 {
  color: aliceblue;
  margin-right: 15px;
  margin-left: 15px;
}

h2::first-letter {
  color: red;
}

.navbar {
  overflow: hidden;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fa {
  padding-left: 10px;
}
.dropdown0 {
  display: inline-flex;
  padding-left: 100px;

}
.dropdown {
  overflow: hidden;
  color: black;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: green;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn1 a {
  background-color: dodgerblue;
  border: none;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 20px;
}
.dropbtn1 {
  list-style-type: none;
  display: inline-block;
}
h2 {
  cursor: pointer;
  font-size: 30px;
}
.contain {
  height: 600px;
  width: 100%;
  background-image: url(background\ image.jpg);
  background-position: center;
  background-size: cover;
  display:flex;
}
.content {
  color: white;
  position: absolute;
  top: 40%;
  left: 8%;
  justify-content: space-between;
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.content h1 {
  font-variant: small-caps;
}
.arrow-icons1 {
  margin-left: 4%;
  margin-top: 15%;
  color: white;
  font-size: 40px;
}
.arrow-icons2 {
  margin-left: 85%;
  margin-top: 15%;
  color: green;
  font-size: 40px;
}

.button0 {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0% 1%;
  margin-top: 3%;
}
.button1 {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 0% 1%;
  margin-top: 3%;
}
