* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: Be Vietnam Pro;
}
h1,
h2,
h3,
h4,
h5,
p {
  letter-spacing: 0;
}
/* NAVBAR START */
/* .sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
} */
nav .container-fluid {
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar {
  padding: 0px;
  background-color: white;
}
.navbar-brand {
  --bs-navbar-brand-margin-end: 171px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item.first-link {
  padding-right: 0px;
}
.nav-item {
  padding-right: 70px;
  font-size: 18px;
  color: #494e68;
  font-weight: bold;
  line-height: 42px;
}
.bttn-icon .bttn-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: #e8d3c6;
  background: #60311b;
  border-radius: 10px;
  padding: 15px 29px 14px 30px;
}
.bttn-icon .bttn-link:hover {
  background-color: #e8d3c6;
  color: #60311b;
}
.bttn-icon i {
  color: #60311b;
  font-size: 24px;
  padding-left: 38px;
}
.bttn-icon i:hover {
  color: #e8d3c6;
}
.nav-link {
  border-bottom: 2px solid transparent;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #60311b;
  border-bottom: 2px solid #60311b;
}

.nav-link:hover {
  color: #60311b;
  border-bottom: 2px solid #60311b;
}
/* NAVBAR END */

.banner-content {
  /* padding-top: 189px; */
  padding-top: 230px;
  padding-bottom: 187px;
}
.banner-content h1 {
  font-weight: 600;
  font-size: 58px;
  line-height: 72px;
  color: #60311b;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.banner-content p {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #231f1b;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.banner-content-bttn {
  position: relative;
}
.banner-content-bttn .Seller-bttn {
  color: #ffffff;
  background: #ac7046;
  border: 1px solid transparent;
  padding: 17px 78px 17px 23px;
  position: relative;
  border-radius: 10px;
  line-height: 28px;
  font-size: 22px;
  margin-right: 30px;
}
.banner-content-bttn .Seller-bttn:hover {
  background: #ac70451a;
  color: #ac7045;
  border: 1px solid #ac7045;
}
.banner-content-bttn .Seller-bttn:hover i {
  background: #ac7046;
  color: #e8d3c6;
}
.banner-content-bttn .Seller-bttn i {
  position: absolute;
  background: #e8d3c6;
  top: 9px;
  right: 11px;
  left: 184px;
  font-size: 40px;
  color: #60311b;
  border-radius: 50%;
  height: 44px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-bttn .Buyer-bttn {
  color: #ac7045;
  background: #ac70451a;
  border: 1px solid #ac7045;
  padding: 17px 77px 17px 23px;
  position: relative;
  border-radius: 10px;
  line-height: 28px;
  font-size: 22px;
}
.banner-content-bttn .Buyer-bttn:hover {
  background: #ac7046;
  color: #ffffff;
}
.banner-content-bttn .Buyer-bttn i {
  position: absolute;
  background: #ac7046;
  opacity: 1;
  top: 9px;
  right: 11px;
  left: 184px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
  height: 44px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-bttn .Buyer-bttn:hover i {
  color: #60311b;
  background: #e8d3c6;
}

/* FOOD */
.food-title h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.food-title p {
  font-size: 28px;
  font-weight: 300;
  line-height: 35px;
  color: #231f1b;
  margin-bottom: 0;
}
.food-title-bttn a {
  position: relative;
  background: #ac7046;
  border-radius: 26px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px 59px 12px 22px;
  border: none;
}
.food-title-bttn a:hover {
  background-color: #e8d3c6;
  color: #ac7046;
}
.food-title-bttn a:hover i {
  color: #60311b;
}
.food-title-bttn a i {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
}
.food-items {
  padding-top: 60px;
}
.food-detail {
  background: #231f1b;
  opacity: 1;
}
.food-items-two {
  padding-top: 24px;
  padding-bottom: 20px;
}
.food-items-two a {
  color: #ffffff;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
}
.food-items-one {
  padding: 34px 0px 0px 0px;
}
.food {
  padding-bottom: 189px;
}
.food-items .g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

/* SHOP */
.shop-title h2 {
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 10px;
}
.shop-title p {
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
  color: #231f1b;
  margin-bottom: 60px;
}
.shop-items .card {
  --bs-card-inner-border-radius: calc(0rem - 0px);
  --bs-card-border-width: 1px;
  --bs-card-border-color: none;
  --bs-card-border-radius: 0.375rem;
}
.shop-items .card-body {
  background-color: #f9f3ef;
  padding: 20px;
}
.shop-items .card-body .card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #231f1b;
  margin-bottom: 13px;
}
.shop-client {
  padding-bottom: 26px;
}
.shop-client h5 {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}
.shop-pro {
  display: flex;
  justify-content: left;
  align-items: center;
}
.shop-progrs .shop-qlity {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.shop-progrs .shop-qlity span {
  font-weight: bold;
}
.shop-progrs .shop-pro span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #231f1b;
}
.shop-pro .progress .progress-bar {
  background-color: #60311b;
}
.shop-pro .progress {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e7d3c6;
}
.shop-progrs {
  padding-bottom: 23px;
}
.shop-detail h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #60311b;
  margin-bottom: 0;
}
.shop-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-detail .shop-flag span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #231f1b;
}
.shop-flag img {
  border-radius: 4px;
}
/* SECOND COLOUMN */
.shop-it {
  padding-top: 25px;
}
.shop-it .shop-items .card {
  --bs-card-inner-border-radius: calc(3rem - 30px);
  --bs-card-border-width: 1px;
  --bs-card-border-color: none;
  --bs-card-border-radius: 0.375rem;
}
.shop-offer {
  padding-bottom: 40px;
}

.shop-title-bttn a {
  position: relative;
  background: #ac7046;
  border-radius: 26px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px 59px 12px 22px;
  border: none;
}
.shop-title-bttn a:hover {
  background-color: #e8d3c6;
  color: #ac7046;
}
.shop-title-bttn a:hover i {
  color: #60311b;
}
.shop-title-bttn a i {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
}
.shop {
  padding-bottom: 189px;
}

/* ABOUT-US */

.about-title h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.about-title p {
  font-weight: 300;
  font-size: 28px;
  line-height: 35px;
  color: #231f1b;
  margin-bottom: 0;
}
.about-title-bttn a {
  position: relative;
  background: #ac7046;
  border-radius: 26px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  padding: 12px 59px 12px 22px;
  border: none;
  text-decoration: none;
}
.about-title-bttn a:hover {
  background-color: #e8d3c6;
  color: #ac7046;
}
.about-title-bttn a:hover i {
  color: #60311b;
}
.about-title-bttn a i {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
}
.about-common {
  padding-top: 60px;
  padding-bottom: 200px;
}
.about-content-one {
  background-color: #f9f3ef;
}
.about-content-two {
  background-color: #231f1b;
}
.about-content-first h5 {
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  color: #231f1b;
  margin-bottom: 15px;
}
.about-detail-one {
  padding-left: 22px;
}
.about-detail-two {
  padding-right: 22px;
}
.about-content-first {
  padding: 36px 60px 45px 34px;
}
.about-content-first h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #60311b;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.about-content-first p {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #231f1b;
  margin-bottom: 0;
}
.about-bttn-one {
  background: #231f1b;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.about-bttn-one a {
  position: relative;
  background-color: transparent;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  border: none;
}
.about-bttn-one:hover {
  background: #f9f3ef;
}
.about-bttn-one:hover a {
  color: #231f1b;
}
.about-bttn-one:hover i {
  color: #231f1b;
}
.about-bttn-one a i {
  color: #f9f3ef;
  position: absolute;
  top: -4px;
  left: 105px;
  font-size: 38px;
}

/* ABOUT-SECOND COLUMN */
.about-content-two {
  padding: 36px 60px 45px 34px;
}
.about-content-two h5 {
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #e7d3c6;
  margin-bottom: 15px;
}
.about-content-two h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #e7d3c6;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.about-content-two p {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #e7d3c6;
  margin-bottom: 0;
}

.about-bttn-two {
  background: #f9f3ef;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.about-bttn-two a {
  position: relative;
  background-color: transparent;
  font-size: 22px;
  line-height: 28px;
  color: #231f1b;
  border: none;
}
.about-bttn-two:hover {
  background: #231f1b;
}
.about-bttn-two:hover a {
  color: #ffffff;
}
.about-bttn-two:hover i {
  color: #ffffff;
}

.about-bttn-two a i {
  color: #231f1b;
  position: absolute;
  top: -4px;
  left: 105px;
  font-size: 38px;
}

/* CONTACT */
.wallet {
  background-color: #f9f3ef;
}
.wallet-title h5 {
  margin-bottom: 0;
  text-align: center;
  font-size: 28px;
  line-height: 35px;
  font-weight: 300;
  color: #231f1b;
  padding-top: 174px;
}
.wallet-title p {
  margin-bottom: 86px;
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  padding-top: 10px;
}
.wallet-one h5 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: #60311b;
  padding-top: 57px;
  padding-bottom: 18px;
}
.wallet-one p {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #231f1b;
  margin-bottom: 100px;
}
.wallet-common .row {
  border-bottom: 1.5px solid #ccc4c4;
}

/* CONTACT */
.contact {
  background-color: #f9f3ef;
  background-image: url(image/contact-bg.png);
}
.contact-end {
  padding-top: 95px;
}
.contact-end-two {
  padding-top: 85px;
}
.contact-end-two h3 {
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 15px;
}
.contact-end-two p {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #231f1b;
  margin-bottom: 40px;
}
.contact-app a img {
  width: 171px;
  height: 50px;
  border-radius: 30%;
}

/* FOOTER */
.footer {
  background-color: #231f1b;
  padding-bottom: 75px;
}
.footer-common {
  padding-top: 189px;
}
.footer-content h5 {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  padding-top: 58px;
  margin-bottom: 15px;
}
.footer-content a {
  font-size: 26px;
  line-height: 33px;
  color: #ffffff;
}
.footer-content ul {
  padding-top: 62px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.footer-content ul li a {
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
  list-style: none;
}
.footer-content ul li a:hover {
  color: #60311b;
}
.footer-icon ul {
  padding-left: 0;
  display: flex;
  margin-bottom: 0rem;
}
.footer-icon ul li {
  list-style: none;
  font-size: 30px;
  color: #e8d3c6;
  padding-right: 60px;
}
.footer-icon ul .icon-last {
  padding-right: 0;
}
.footer-icon {
  padding-bottom: 65px;
}
.footer-icon li img {
  transition: 1s ease;
}
.footer-icon li img:hover {
  transition: 1s ease;
  transform: scale(0.8);
}

.footer-two-para h5 {
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer-two-para p {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 45px;
}

.footer-content-two .footer-for form {
  background: #fff;
  padding: 18px 30px 17px 30px;
  border-radius: 15px;
  width: 70%;
  font-size: 20px;
  line-height: 25px;
  color: #979797;
}

.footer-content-two .footer-for form input[type="email"] {
  border: 0;
  width: 100%;
  outline: none;
}
.footer-for {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-for a {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #f9f3ef;
  background: #ac7046;
  border-radius: 15px;
  padding: 18px 38px 17px 38px;
}
.footer-for a:hover {
  background-color: #f9f3ef;
  color: #ac7046;
}
.footer-to-end ul {
  padding-top: 59px;
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.footer-to-end ul li a {
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}
.footer-to-end ul li a:hover {
  color: #60311b;
}
.footer-to-end ul a {
  padding-right: 60px;
}
.footer-to-end ul .privcy {
  padding-right: 0;
}

/* <!-- Back to top button --> */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: #ac7046;
  color: #e8d3c6;
  border: none;
}
#btn-back-to-top:hover {
  background-color: #e8d3c6;
  color: #ac7046;
}

@media screen and (max-width: 1600px) {
  /* NAVBAR START  */
  .navbar-brand {
    --bs-navbar-brand-margin-end: 125px;
  }
  .nav-item {
    padding-right: 55px;
  }
  .bttn-icon i {
    padding-left: 30px;
  }
  nav .container-fluid {
    margin-left: 60px;
    margin-right: 60px;
  }
  /* NAVBAR END  */
}
@media screen and (max-width: 1440px) {
  /* NAVBAR START  */
  nav .container-fluid {
    margin-left: 50px;
    margin-right: 50px;
  }
  .navbar-brand {
    --bs-navbar-brand-margin-end: 115px;
  }
  .bttn-icon .bttn-link {
    padding: 13px 27px 12px 28px;
  }
  /* NAVBAR END  */

  .food-items .g-5,
  .gx-5 {
    --bs-gutter-x: 3rem;
  }
  .shop-items .card-body .card-title {
    font-size: 19px;
  }
  .about-title h2 {
    font-size: 40px;
  }
  .about-title p {
    font-size: 24px;
  }
  .about-content-first h3 {
    font-size: 30px;
  }
  .about-content-two h3 {
    font-size: 30px;
  }
  .about-content-first p {
    font-size: 21px;
  }
  .about-content-two p {
    font-size: 21px;
  }
  .contact-end-two h3 {
    line-height: 50px;
    margin-bottom: 10px;
  }
  .contact-end-two p {
    line-height: 30px;
    margin-bottom: 25px;
  }
  .footer-two-para p {
    font-size: 24px;
  }
}
@media screen and (max-width: 1340px) {
  /* NAVBAR */
  .navbar-brand {
    --bs-navbar-brand-margin-end: 60px;
  }
  .nav-item {
    padding-right: 45px;
  }
  nav .container-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  /* BANNER CONTENT */
  .banner-content {
    padding-top: 200px;
    padding-bottom: 150px;
  }
  .banner-content h1 {
    line-height: 68px;
    padding-bottom: 18px;
    font-size: 54px;
  }
  .banner-content p {
    font-size: 26px;
    line-height: 40px;
  }
  /* FOOD */
  .food-title h2 {
    font-size: 44px;
    padding-bottom: 8px;
  }
  .food-title p {
    font-size: 27px;
  }
  .food {
    padding-bottom: 152px;
  }
  .food-items {
    padding-top: 55px;
  }

  /* SHOP */
  .shop-title h2 {
    font-size: 44px;
  }
  .shop-title p {
    font-size: 26px;
    margin-bottom: 55px;
  }
  .shop-client {
    padding-bottom: 23px;
  }
  .shop-items .card-body .card-title {
    font-size: 18px;
  }
  .shop-progrs {
    padding-bottom: 20px;
  }
  .shop-items .card-body {
    padding: 18px;
  }
  .shop-detail h5 {
    font-size: 18px;
  }
  .shop {
    padding-bottom: 152px;
  }

  /* ABOUT */
  .about-title h2 {
    font-size: 40px;
    padding-bottom: 8px;
  }
  .about-common {
    padding-top: 55px;
    padding-bottom: 150px;
  }
  .about-content-first {
    padding: 30px 30px 30px 30px;
  }
  .about-content-two {
    padding: 30px 30px 30px 30px;
  }
  .about-content-first h5 {
    margin-bottom: 12px;
  }
  .about-content-two h5 {
    margin-bottom: 12px;
  }
  .about-content-first p {
    font-size: 20px;
    line-height: 34px;
  }
  .about-content-first h3 {
    line-height: 44px;
    padding-bottom: 25px;
    font-size: 33px;
  }
  .about-content-two h3 {
    line-height: 44px;
    padding-bottom: 25px;
    font-size: 33px;
  }
  .about-content-two p {
    font-size: 20px;
    line-height: 34px;
  }

  /* WALLET */
  .wallet-title h5 {
    font-size: 26px;
    padding-top: 150px;
  }
  .wallet-title p {
    margin-bottom: 70px;
    font-size: 44px;
    line-height: 54px;
    padding-top: 5px;
  }
  .wallet-one h5 {
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .wallet-one p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 90px;
  }

  /* CONTACT */
  .contact-end {
    padding-top: 90px;
  }
  .contact-end-two {
    padding-top: 70px;
  }
  .contact-end-two h3 {
    font-size: 44px;
  }
  .contact-end-two p {
    font-size: 23px;
  }

  /* FOOTER */
  .footer-common {
    padding-top: 152px;
  }
  .footer-content h5 {
    font-size: 28px;
    padding-top: 50px;
  }
  .footer-two-para h5 {
    font-size: 28px;
  }
  .footer-content ul {
    padding-top: 55px;
  }
  .footer-icon {
    padding-bottom: 60px;
  }
  .footer-two-para p {
    font-size: 23px;
  }
}
@media screen and (max-width: 1199px) {
  /* NAVBAR START  */
  .nav-item {
    padding-right: 25px;
    font-size: 14px;
  }
  .navbar-brand {
    --bs-navbar-brand-margin-end: 40px;
  }
  nav .container-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 45px;
    margin-right: 45px;
  }
  .bttn-icon i {
    padding-left: 20px;
  }
  .bttn-icon .bttn-link {
    padding: 10px 24px 10px 25px;
    font-size: 14px;
    line-height: 39px;
  }

  /* BANNER CONTENT */
  .banner-content {
    padding-top: 172px;
    padding-bottom: 140px;
  }
  .banner-content h1 {
    line-height: 55px;
    padding-bottom: 16px;
    font-size: 46px;
  }
  .banner-content p {
    font-size: 22px;
    line-height: 36px;
    padding-bottom: 30px;
  }
  .banner-content-bttn .Seller-bttn button {
    font-size: 20px;
    padding: 15px 55px 15px 12px;
  }
  .banner-content-bttn .Seller-bttn button i {
    top: 14px;
    font-size: 38px;
    height: 34px;
    width: 33px;
  }
  .banner-content-bttn .Buyer-bttn button {
    font-size: 20px;
    padding: 15px 55px 15px 12px;
  }
  .banner-content-bttn .Buyer-bttn button i {
    top: 14px;
    font-size: 38px;
    height: 34px;
    width: 33px;
  }
  .banner-content-bttn .Seller-bttn {
    padding: 15px 50px 15px 15px;
    font-size: 18px;
    margin-right: 20px;
  }
  .banner-content-bttn .Seller-bttn i {
    top: 11px;
    left: 138px;
    font-size: 30px;
    height: 34px;
    width: 33px;
  }
  .banner-content-bttn .Buyer-bttn {
    padding: 15px 50px 15px 15px;
    font-size: 18px;
  }
  .banner-content-bttn .Buyer-bttn i {
    top: 11px;
    left: 138px;
    font-size: 30px;
    height: 34px;
    width: 33px;
  }
  /* FOOD */
  .food-title h2 {
    font-size: 40px;
    padding-bottom: 0px;
  }
  .food-title p {
    font-size: 24px;
  }
  .food-title-bttn a button {
    font-size: 20px;
    padding: 10px 50px 10px 20px;
  }
  .food-title-bttn a button i {
    top: 7px;
    font-size: 38px;
  }
  .food-items {
    padding-top: 45px;
  }
  .food-items-two {
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .food-items-one {
    padding: 20px 0px 0px 0px;
  }
  .food-items-two a {
    font-size: 22px;
  }
  .food {
    padding-bottom: 142px;
  }
  .food-items .g-5,
  .gx-5 {
    --bs-gutter-x: 2rem;
  }

  /* SHOP */
  .shop-title h2 {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .shop-title p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .shop-items .card-body {
    padding: 14px;
  }
  .shop-items .card-body .card-title {
    font-size: 16px;
  }
  .shop-client h5 {
    font-size: 15px;
    line-height: 36px;
  }
  .shop-client {
    padding-bottom: 5px;
  }
  .shop-progrs {
    padding-bottom: 5px;
  }
  .shop-detail h5 {
    font-size: 16px;
  }
  .shop-progrs .shop-qlity {
    font-size: 15px;
  }
  .shop-title-bttn a button {
    font-size: 20px;
    padding: 10px 50px 10px 20px;
  }
  .shop-title-bttn a button i {
    top: 7px;
    font-size: 38px;
  }
  .shop {
    padding-bottom: 142px;
  }

  /* ABOUT */
  .about-title h2 {
    font-size: 33px;
    padding-bottom: 0px;
  }
  .about-title p {
    font-size: 20px;
    line-height: 32px;
  }
  .about-title-bttn a button {
    font-size: 20px;
    padding: 10px 50px 10px 20px;
  }
  .about-common {
    padding-top: 50px;
    padding-bottom: 135px;
  }
  .about-content-first {
    padding: 20px 20px 20px 20px;
  }
  .about-content-two {
    padding: 20px 20px 20px 20px;
  }
  .about-content-first h5 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .about-content-two h5 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .about-content-first h3 {
    line-height: 38px;
    padding-bottom: 22px;
    font-size: 26px;
  }
  .about-content-two h3 {
    line-height: 38px;
    padding-bottom: 22px;
    font-size: 26px;
  }
  .about-content-first p {
    font-size: 19px;
    line-height: 32px;
  }
  .about-content-two p {
    font-size: 19px;
    line-height: 32px;
  }
  .about-bttn-one {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .about-bttn-two {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .about-bttn-two a button {
    font-size: 20px;
  }
  .about-bttn-one a button {
    font-size: 20px;
  }

  /* WALLET */
  .wallet-title h5 {
    font-size: 24px;
    padding-top: 135px;
  }
  .wallet-title p {
    margin-bottom: 60px;
    font-size: 34px;
    line-height: 42px;
  }
  .wallet-one h5 {
    font-size: 28px;
    padding-bottom: 0;
    padding-top: 40px;
  }
  .wallet-one p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 80px;
  }

  /* CONTACT */
  .contact-end {
    padding-top: 80px;
  }
  .contact-end-two h3 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 12px;
  }
  .contact-end-two p {
    font-size: 19px;
    margin-bottom: 20px;
  }

  /* FOOTER */
  .footer-common {
    padding-top: 142px;
  }
  .footer-content h5 {
    font-size: 22px;
    padding-top: 45px;
  }
  .footer-icon {
    padding-bottom: 50px;
  }
  .footer-content a {
    font-size: 20px;
  }
  .footer-content ul {
    padding-top: 42px;
  }
  .footer-content ul li a {
    font-size: 20px;
    line-height: 48px;
  }
  .footer-two-para h5 {
    font-size: 22px;
  }
  .footer-two-para p {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 40px;
  }
  .footer-for a {
    font-size: 15px;
    padding: 10px 30px 10px 30px;
  }

  .footer-content-two .footer-for form {
    padding: 10px 0 10px 18px;
    font-size: 17px;
  }
  .footer-content-two .footer-for form input[type="email"] {
    width: 95%;
  }
  .footer-to-end ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  /* NAVBAR START  */
  .navbar-brand {
    --bs-navbar-brand-margin-end: 41px;
  }
  .nav-item {
    padding-right: 15px;
  }
  .bttn-icon i {
    padding-left: 12px;
  }
  nav .container-fluid {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .bttn-icon .bttn-link {
    padding: 10px 21px 10px 22px;
  }
  .nav-item {
    font-size: 16px;
  }
  /* NAVBAR END  */
  /* FOOD */
  .food-items .g-5,
  .gx-5 {
    --bs-gutter-x: 2rem;
  }
}
@media screen and (max-width: 991px) {
  /* NAVBAR START  */
  nav .container-fluid {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .nav-item {
    padding-top: 15px;
  }
 
  /* NAVBAR END  */
  /* BANNER CONTENT */
  .banner-content {
    padding-top: 152px;
    padding-bottom: 120px;
  }
  .banner-content h1 {
    line-height: 50px;
    padding-bottom: 14px;
    font-size: 42px;
  }
  .banner-content p {
    padding-bottom: 28px;
    font-size: 20px;
  }

  /* FOOD */
  .food-title h2 {
    font-size: 34px;
    padding-bottom: 0px;
  }
  .food-title p {
    font-size: 19px;
  }
  .food-title-bttn a button {
    font-size: 18px;
    padding: 8px 48px 8px 15px;
  }
  .food {
    padding-bottom: 122px;
  }
  .food-items-two a {
    font-size: 20px;
  }
  .food-title-bttn a button i {
    top: 6px;
    font-size: 36px;
  }
  .food-items .g-5, .gx-5 {
    --bs-gutter-x: 2rem;
  }
  .food-items-two {
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .food-items-one {
    padding: 12px 0px 0px 0px;
  }

  /* SHOP */
  .shop-title h2 {
    font-size: 34px;
  }
  .shop-title p {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .shop-items {
    padding-bottom: 25px;
  }
  .shop-it {
    padding-top: 0;
  }
  .shop-offer {
    padding-bottom: 15px;
  }
  .shop-title-bttn a button {
    font-size: 18px;
    padding: 8px 48px 8px 15px;
  }
  .shop-title-bttn a button i {
    top: 6px;
    font-size: 36px;
  }
  .shop {
    padding-bottom: 122px;
  }

  /* ABOUT */
  .about-title h2 {
    font-size: 30px;
  }
  .about-title p {
    font-size: 18px;
    line-height: 30px;
  }
  .about-title-bttn a button {
    font-size: 18px;
    padding: 8px 48px 8px 15px;
  }
  .about-title-bttn a button i {
    top: 6px;
    font-size: 38px;
  }
  .about-common {
    padding-top: 40px;
    padding-bottom: 115px;
  }
  .about-content-first h5 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .about-content-first {
    padding: 15px 15px 15px 15px;
  }
  .about-content-two {
    padding: 15px 15px 15px 15px;
  }
  .about-content-two h5 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .about-content-first h3 {
    line-height: 28px;
    padding-bottom: 12px;
    font-size: 21px;
  }
  .about-content-two h3 {
    line-height: 28px;
    padding-bottom: 12px;
    font-size: 21px;
  }
  .about-content-first p {
    font-size: 16px;
    line-height: 28px;
  }
  .about-bttn-one {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .about-bttn-one a button {
    font-size: 18px;
  }
  .about-bttn-one a button i {
    font-size: 36px;
  }
  .about-content-two p {
    font-size: 16px;
    line-height: 28px;
  }
  .about-bttn-two {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .about-bttn-two a button {
    font-size: 18px;
  }
  .about-bttn-two a button i {
    font-size: 36px;
  }
  .about-bttn-one a {
    font-size: 20px;
  }
  .about-bttn-one a i {
    top: -3px;
    left: 90px;
    font-size: 34px;
  }
  .about-bttn-two a {
    font-size: 20px;
  }
  .about-bttn-two a i {
    top: -3px;
    left: 90px;
    font-size: 34px;
  }

  /* WALLET */
  .wallet-title h5 {
    font-size: 22px;
    padding-top: 115px;
  }
  .wallet-title p {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 36px;
  }
  .wallet-one h5 {
    font-size: 20px;
    padding-bottom: 0;
    padding-top: 20px;
  }
  .wallet-one p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 55px;
  }

  /* CONTACT */
  .contact-end {
    padding-top: 55px;
  }
  .contact-end-two {
    padding-top: 45px;
  }
  .contact-end-two h3 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .contact-end-two p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .contact-app {
    display: flex;
  }

  /* FOOTER */
  .footer-common {
    padding-top: 132px;
  }
  .footer-content img {
    width: 270px;
    height: 50px;
  }
  .footer-content h5 {
    font-size: 22px;
    line-height: 45px;
    padding-top: 35px;
  }
  .footer-icon {
    padding-bottom: 45px;
  }
  .footer-two-para p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .footer-for a {
    font-size: 14px;
    padding: 8px 18px 8px 18px;
  }
  .footer-content-two .footer-for form {
    padding: 8px 0 8px 16px;
    font-size: 15px;
  }
  .footer-content ul li a {
    font-size: 18px;
    line-height: 42px;
  }
  .footer-to-end ul {
    padding-top: 45px;
  }
  .footer-to-end ul li a {
    padding-right: 30px;
    font-size: 15px;
  }
  .footer-to-end ul li {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /* NAVBAR START  */
  nav .container-fluid {
    margin-top: 14px;
    margin-bottom: 14px;
}
  /* NAVBAR END  */
  /* BANNER CONTENT */
  .banner-content {
    padding-top: 142px;
    padding-bottom: 110px;
  }
  .banner-content h1 {
    line-height: 45px;
    padding-bottom: 12px;
    font-size: 36px;
  }
  .banner-content p {
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 32px;
  }
  .banner-content-bttn .Seller-bttn button {
    font-size: 16px;
    padding: 10px 40px 10px 10px;
  }
  .banner-content-bttn .Buyer-bttn button {
    font-size: 16px;
    padding: 10px 40px 10px 10px;
  }
  .banner-content-bttn .Seller-bttn button i {
    top: 13px;
    font-size: 30px;
    height: 30px;
    width: 29px;
    right: 5px;
  }
  .banner-content-bttn .Buyer-bttn button i {
    top: 13px;
    font-size: 30px;
    height: 30px;
    width: 29px;
    right: 5px;
  }

  /* FOOD */
  .food {
    padding-bottom: 112px;
  }
  .food-title h2 {
    font-size: 24px;
  }
  .food-title p {
    font-size: 14px;
    line-height: 14px;
  }
  .food-title-bttn a button {
    font-size: 14px;
    padding: 6px 40px 6px 10px;
  }
  .food-title-bttn a button i {
    top: 6px;
    right: 0;
    font-size: 32px;
  }
  .food-title-bttn a {
    font-size: 18px;
    padding: 8px 36px 8px 12px;
  }
  .food-title-bttn a i {
    top: 6px;
    right: 2px;
    font-size: 32px;
  }
  
  /* SHOP */
  .shop-items .card-body {
    padding: 12px;
  }
  .shop-items .card-body .card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .shop-client h5 {
    font-size: 14px;
    line-height: 36px;
  }
  .shop-progrs .shop-qlity {
    font-size: 14px;
  }
  .shop-progrs .shop-pro span {
    font-size: 14px;
  }
  .shop-detail .shop-flag span {
    font-size: 14px;
  }
  .shop-offer {
    padding-bottom: 0px;
  }
  .shop-title-bttn a {
    font-size: 18px;
    padding: 8px 36px 8px 12px;
  }
  .shop-title-bttn a i {
    top: 6px;
    right: 2px;
    font-size: 32px;
  }
  .shop {
    padding-bottom: 112px;
  }

  /* ABOUT */
  .about-title p {
    font-size: 16px;
    line-height: 15px;
  }
  .about-title h2 {
    font-size: 24px;
  }
  .about-title-bttn a {
    font-size: 18px;
    padding: 8px 36px 8px 12px;
  }
  .about-title-bttn a i {
    top: 6px;
    right: 2px;
    font-size: 32px;
  }
  .about-detail-one {
    padding-left: 0px;
  }
  .about-detail-two {
    padding-right: 0px;
  }
  .about-bttn-one {
    margin-bottom: 30px;
  }

  /* WALLET */
  .wallet-title p {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .wallet-one p {
    margin-bottom: 35px;
  }
  .wallet-one h5 {
    font-size: 18px;
    padding-top: 8px;
  }

  .contact-end {
    padding-top: 35px;
  }
  .footer-content ul {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .footer-content-two .footer-for form {
    width: 80%;
  }
  .footer-common {
    padding-top: 112px;
  }
  .contact-end-two {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .contact-end .row{
    flex-direction: column-reverse;
  }



}
@media screen and (max-width: 640px) {
  /* NAVBAR START  */
  nav .container-fluid {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 14px;
  }
  /* NAVBAR END  */
 
}
@media screen and (max-width: 575px) {
  nav .container-fluid {
    margin-left: 15px;
    margin-right: 15px;
  }
  .banner-content {
    padding-top: 132px;
    padding-bottom: 100px;
  }
  .banner-content h1 {
    line-height: 38px;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .banner-content p {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 24px;
  }
  .banner-content-bttn .Seller-bttn {
    padding: 10px 35px 10px 10px;
    font-size: 15px;
    margin-right: 20px;
  }
  .banner-content-bttn .Seller-bttn i {
    top: 11px;
    left: 110px;
    font-size: 26px;
    height: 25px;
    width: 24px;
  }
  .banner-content-bttn .Buyer-bttn {
    padding: 10px 35px 10px 10px;
    font-size: 15px;
  }
  .banner-content-bttn .Buyer-bttn i {
    top: 11px;
    left: 110px;
    font-size: 26px;
    height: 25px;
    width: 24px;
  }

  /* FOOD */
  .food-title-bttn a {
    font-size: 15px;
  }
  .food-items {
    padding-top: 30px;
  }
  .food-items-two a {
    font-size: 16px;
  }
  .food {
    padding-bottom: 102px;
  }
  .food-items .g-5, .gx-5 {
    --bs-gutter-x: 1rem;
  }

  /* SHOP */
  .shop-title h2 {
    font-size: 28px;
    line-height: 35px;
  }
  .shop-title p {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .shop-pro {
    justify-content: space-between;
  }
  .shop-title-bttn a {
    font-size: 15px;
  }
  .shop {
    padding-bottom: 102px;
  }
  .shop-title-bttn a i {
    top: 7px;
    right: 4px;
    font-size: 30px;
  }

  /* ABOUT */
  .about-title-bttn a {
    font-size: 15px;
  }
  .about-title-bttn a i {
    top: 7px;
    right: 4px;
    font-size: 30px;
  }
  .about-common {
    padding-top: 30px;
    padding-bottom: 95px;
  }  
  .about-content-first h5 {
    font-size: 16px;
  }
  .about-content-two h5 {
    font-size: 16px;
  }
  .about-content-first h3 {
    line-height: 24px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .about-bttn-one a {
    font-size: 18px;
  }
  .about-bttn-one a i {
    top: -4px;
    left: 85px;
    font-size: 32px;
  }
  .about-bttn-two a {
    font-size: 18px;
  }
  .about-bttn-two a i {
    top: -4px;
    left: 85px;
    font-size: 32px;
  }

  /* WALLET */
  .wallet-title h5 {
    font-size: 20px;
    padding-top: 95px;
  }
  .wallet-title p {
    font-size: 22px;
    margin-bottom: 35px;
  }

  /* FOOTER */
  .footer-common {
    padding-top: 102px;
  }
  .footer-content h5 {
    font-size: 20px;
    line-height: 45px;
    padding-top: 25px;
    margin-bottom: 0;
  }
  .footer-content a {
    font-size: 18px;
  }
  .footer-content ul {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .footer-icon {
    padding-bottom: 35px;
  }
  .footer-two-para h5 {
    font-size: 20px;
  }
  .footer-two-para p {
    margin-bottom: 20px;
  }
  .footer-to-end ul {
    padding-top: 25px;
  }
  .footer {
    padding-bottom: 55px;
  }


}
@media screen and (max-width: 480px) {
  /* NAVBAR START  */
  nav .container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-brand img {
    width: 150px;
    height: 30px;
  }
  /* NAVBAR END  */
  /* BANNER */
  .banner-content h1 {
    line-height: 28px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .banner-content p {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .banner-content {
    padding-top: 102px;
    padding-bottom: 70px;
  }
  .banner-content-bttn .Seller-bttn {
    padding: 8px 30px 8px 8px;
    font-size: 14px;
    margin-right: 14px;
  }
  .banner-content-bttn .Seller-bttn i {
    top: 11px;
    left: 100px;
    font-size: 24px;
    height: 25px;
    width: 24px;
  }
  .banner-content-bttn .Buyer-bttn {
    padding: 8px 30px 8px 8px;
    font-size: 14px;
  }
  .banner-content-bttn .Buyer-bttn i {
    top: 11px;
    left: 100px;
    font-size: 24px;
  }
  .about-title-bttn a {
    font-size: 14px;
  }
  .about-title-bttn a {
    font-size: 14px;
    margin-top: 30px;
}
.about-common {
  padding-bottom: 80px;
}
.about-title h2 {
  font-size: 20px;
}
.about-title p {
  font-size: 14px;
}

/* WALLET */
.wallet-title h5 {
  font-size: 18px;
  padding-top: 80px;
}
.wallet-title p {
  font-size: 16px;
  margin-bottom: 35px;
  line-height: 26px;
}
.contact-end-two h3 {
  font-size: 26px;
}
.footer-two-para p {
  margin-bottom: 15px;
}
.footer-content-two .footer-for form {
  width: 68%;
}
.footer-to-end ul li a {
  padding-right: 24px;
  font-size: 14px;
}



}
@media screen and (max-width: 320px) {
  .banner-content {
    padding-top: 92px;
    padding-bottom: 60px;
  }
  .banner-content-bttn .Seller-bttn {
    padding: 8px 35px 8px 10px;
  }
  .banner-content-bttn .Seller-bttn i {
    top: 9px;
    left: 104px;
  }
  .banner-content-bttn .Buyer-bttn {
    padding: 8px 35px 8px 10px;
    font-size: 14px;
  }
  .banner-content-bttn .Buyer-bttn i {
    top: 9px;
    left: 104px;
  }
  .food-title-bttn a {
    font-size: 15px;
    margin-top: 20px; 
  }
  .food-items {
    padding-top: 25px;
  }
  .food {
    padding-bottom: 72px;
  }
  .shop-title h2 {
    font-size: 26px;
  }
  .shop-title p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .shop {
    padding-bottom: 72px;
  }

  /* ABOUT */
  .about-common {
    padding-bottom: 70px;
  }
  .wallet-title h5 {
    padding-top: 70px;
  }
  .wallet-title p {
    font-size: 15px;
    margin-bottom: 25px;
  }

  /* CONTACT */
  .contact-end-two h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .contact-end-two p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  /* FOOTER */
  .footer-common {
    padding-top: 92px;
  }
  .footer-content h5 {
    font-size: 18px;
  }
  .footer-content a {
    font-size: 16px;
  }
  .footer-content ul li a {
    font-size: 16px;
    line-height: 38px;
  }
  .footer-icon {
    padding-bottom: 30px;
  }
  .footer-two-para h5 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .footer-two-para p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .footer-content-two .footer-for form {
    font-size: 14px;
  }
  .footer-to-end ul li a {
    padding-right: 20px;
  }


}
