* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: Be Vietnam Pro;
}
h1,h2,h3,h4,h5,p{
  letter-spacing: 0;
}
/* NAVBAR START */
nav .container-fluid {
  margin-left: 139px;
  margin-right: 139px;
  margin-top: 36px;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar {
  padding: 0px;
}
.navbar-brand {
  --bs-navbar-brand-margin-end: 171px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item.first-link {
  padding-right: 0px;
}
.nav-item {
  padding-right: 70px;
  font-size: 18px;
  color: #494e68;
  font-family: medium;
  line-height: 42px;
}
.bttn-icon .bttn-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: #e8d3c6;
  background: #60311b;
  border-radius: 10px;
  padding: 15px 29px 14px 30px;
}
.bttn-icon .bttn-link:hover{
  background-color: #e8d3c6;
  color: #60311b;  
}
.bttn-icon i {
  color: #60311b;
  font-size: 24px;
  padding-left: 38px;
}
.bttn-icon i:hover{
  color: #e8d3c6;
}
.nav-link {
  border-bottom: 1px solid transparent;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #60311b;
  border-bottom: 1px solid #60311b;
}

.nav-link:hover {
  color: #60311b;
  border-bottom: 1px solid #60311b;
}
/* NAVBAR END */

.banner-content {
  padding-top: 195px;
  padding-bottom: 137px;
}
.banner-content h1 {
  font-weight: 600;
  font-size: 58px;
  line-height: 72px;
  color: #60311b;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
.banner-content p {
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #231f1b;
  padding-bottom: 40px;
  margin-bottom: 0rem;
}
.banner-content-bttn {
  position: relative;
}
.banner-content-bttn .Seller-bttn {
  text-decoration: none;
  padding-right: 30px;
}
.banner-content-bttn .Seller-bttn button {
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  background: #ac7046;
  border-radius: 10px;
  padding: 17px 78px 17px 23px;
  position: relative;
  border: 1px solid transparent;
}
.banner-content-bttn .Seller-bttn button:hover{
background: #ac70451a;
color: #ac7045;
border: 1px solid #ac7045;
}
.banner-content-bttn .Seller-bttn button:hover i{
  background: #ac7046;
  color: #e8d3c6;
}
.banner-content-bttn .Seller-bttn button i {
  position: absolute;
  background: #e8d3c6;
  top: 12px;
  right: 8px;
  font-size: 40px;
  color: #60311b;
  border-radius: 50%;
  height: 44px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-bttn .Buyer-bttn button {
  font-size: 22px;
  line-height: 33px;
  color: #ac7045;
  background: #ac70451a;
  border: 1px solid #ac7045;
  border-radius: 10px;
  padding: 17px 77px 17px 23px;
  position: relative;
}
.banner-content-bttn .Buyer-bttn button:hover{
  background: #ac7046;
  color: #ffffff;
}
.banner-content-bttn .Buyer-bttn button i {
  position: absolute;
  background: #ac7046;
  opacity: 1;
  top: 12px;
  right: 8px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
  height: 44px;
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content-bttn .Buyer-bttn button:hover i{
  color: #60311b;
  background: #e8d3c6;
}

/* FOOD */
.food-title h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.food-title p {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  color: #231f1b;
  margin-bottom: 0;
}
.food-title-bttn a button {
  position: relative;
  background: #ac7046;
  border-radius: 26px;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  padding: 12px 59px 12px 22px;
  border: none;
}
.food-title-bttn a button:hover{
  background-color: #e8d3c6;
  color:#ac7046;
}
.food-title-bttn a button:hover i{
  color: #60311b;
}
.food-title-bttn a button i {
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 40px;
  color: #e8d3c6;
  border-radius: 50%;
}
.food-items {
  padding-top: 60px;
}
.food-detail {
  background: #231f1b 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
}
.food-items-two {
  padding-top: 24px;
  padding-bottom: 20px;
}
.food-items-two a {
  color: #ffffff;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
}
.food-items-one {
  padding: 34px 0px 0px 0px;
}
.food {
  padding-bottom: 189px;
}
.food-items .g-5,
.gx-5 {
  --bs-gutter-x: 5rem;
}

/* SHOP */
.shop-title h2 {
  text-align: center;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  color: #60311b;
  margin-bottom: 10px;
}
.shop-title p {
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  color: #231f1b;
  margin-bottom: 60px;
}
.shop-items .card {
  --bs-card-inner-border-radius: calc(0rem - 0px);
  --bs-card-border-width: 1px;
  --bs-card-border-color: none;
  --bs-card-border-radius: 0.375rem;
}
.shop-items .card-body {
  background-color: #f9f3ef;
  padding: 20px;
}
.shop-items .card-body .card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 44px;
  color: #231f1b;
  margin-bottom: 0px;
}
.shop-client {
  padding-bottom: 12px;
}
.shop-client h5 {
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}
.shop-pro {
  display: flex;
  justify-content: left;
  align-items: center;
}
.shop-progrs .shop-qlity {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.shop-progrs .shop-qlity span {
  font-weight: bold;
}
.shop-progrs .shop-pro span {
  font-size: 16px;
  line-height: 36px;
  font-family: medium;
  color: #231f1b;
}
.shop-pro .progress .progress-bar {
  background-color: #60311b;
}
.shop-pro .progress {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #e7d3c6;
}
.shop-progrs {
  padding-bottom: 12px;
}
.shop-detail h5 {
  font: bold 20px/36px Be Vietnam Pro;
  color: #60311b;
  margin-bottom: 0;
}
.shop-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop-detail .shop-flag span {
  font: bold 16px/36px Be Vietnam Pro;
  color: #231f1b;
}

/* SECOND COLOUMN */
.shop-it{
    padding-top: 25px;
}
.shop-it .shop-items .card{
    --bs-card-inner-border-radius: calc(3rem - 30px);
    --bs-card-border-width: 1px;
    --bs-card-border-color: none;
    --bs-card-border-radius: 0.375rem;
}
.shop-offer{
    padding-bottom: 40px;
}


.shop-title-bttn a button {
    position: relative;
    background: #ac7046;
    border-radius: 26px;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    padding: 12px 59px 12px 22px;
    border: none;
  }
  .shop-title-bttn a button:hover{
    background-color: #e8d3c6;
    color:#ac7046;
  }
  .shop-title-bttn a button:hover i{
    color: #60311b;
  }
  .shop-title-bttn a button i {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 40px;
    color: #e8d3c6;
    border-radius: 50%;
  }
  .shop{
    padding-bottom: 189px;
  }

  /* ABOUT-US */

  .about-title h2 {
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #60311b;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .about-title p {
    font-weight: 300;
    font-size: 28px;
    line-height: 42px;
    color: #231f1b;
    margin-bottom: 0;
  }
  .about-title-bttn a button {
    position: relative;
    background: #ac7046;
    border-radius: 26px;
    font-size: 22px;
    line-height: 33px;
    color: #ffffff;
    padding: 12px 59px 12px 22px;
    border: none;
    text-decoration: none;
  }
  .about-title-bttn a button:hover{
    background-color: #e8d3c6;
    color:#ac7046;
  }
  .about-title-bttn a button:hover i{
    color: #60311b;
  }
  .about-title-bttn a button i {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 40px;
    color: #e8d3c6;
    border-radius: 50%;
  }
  .about-common{
    padding-top: 60px;
    padding-bottom: 200px;
  }
  .about-content-one{
    background-color: #F9F3EF;
  }
  .about-content-two{
    background-color: #231F1B;
  }
  .about-content-first h5{
    font-size: 22px;
    font-weight: 300;
    line-height: 42px;
    color: #231F1B;
    margin-bottom: 15px;
  }
  .about-detail-one{
    padding-left: 22px;
  }
  .about-detail-two{
    padding-right: 22px;
  }
  .about-content-first{
    padding: 36px 60px 45px 34px;
  }
  .about-content-first h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #60311B;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .about-content-first p{
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    color: #231F1B;
    margin-bottom: 0;
  }
  .about-bttn-one{
    background: #231F1B;
    padding-top:24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .about-bttn-one a button{
    position: relative;
    background-color: transparent;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    border: none;
  }
  .about-bttn-one:hover{
    background: #F9F3EF;
  }
  .about-bttn-one:hover a button{
    color: #231F1B;
  }
  .about-bttn-one:hover i{
    color: #231F1B;
  }
  .about-bttn-one a button i{
    color: #F9F3EF;
    position: absolute;
    top: 0px;
    left: 105px;
    font-size: 38px;
  }

  /* ABOUT-SECOND COLUMN */
  .about-content-two{
    padding: 36px 60px 45px 34px;
  }
  .about-content-two h5{
    font-weight: 300;
    font-size: 22px;
    line-height: 42px;
    color: #E7D3C6;
    margin-bottom: 15px;
  }
  .about-content-two h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #E7D3C6;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .about-content-two p{
    font-weight: 300;
    font-size: 22px;
    line-height: 36px;
    color: #E7D3C6;
    margin-bottom: 0;
  }

  .about-bttn-two{
    background: #F9F3EF;
    padding-top:24px;
    padding-bottom: 24px;
    text-align: center;
  }
  .about-bttn-two a button{
    position: relative;
    background-color: transparent;
    font-size: 22px;
    line-height: 33px;
    color: #231F1B;
    border: none;
  }
  .about-bttn-two:hover{
    background: #231F1B;
  }
  .about-bttn-two:hover a button{
    color: #FFFFFF;
  }
  .about-bttn-two:hover i{
    color: #FFFFFF;
  }

  .about-bttn-two a button i{
    color: #231F1B;
    position: absolute;
    top: 0px;
    left: 105px;
    font-size: 38px;
  }


  /* CONTACT */
  .wallet{
    background-color: #F9F3EF;
  }
  .wallet-title h5{
    margin-bottom: 0;
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: 300;
    color: #231F1B;
    padding-top: 174px;
  }
  .wallet-title p{
    margin-bottom: 81px;
    text-align: center;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    color: #60311B;
    padding-top: 10px;
  }
  .wallet-one h5{
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 58px;
    color: #60311B;
    padding-top: 57px;
    padding-bottom: 18px;
  }
  .wallet-one p{
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #231F1B;
    margin-bottom: 100px;
  }
  .wallet-common .row{
    border-bottom: 1.5px solid #ccc4c4;
  }

/* CONTACT */
  .contact{
    background-color: #F9F3EF;
    background-image: url(image/contact-bg.png);
  }
  .contact-end{
    padding-top: 95px;
  }
  .contact-end-two{
    padding-top: 85px;
  }
  .contact-end-two h3{
    font-size: 46px;
    font-weight: 600;
    line-height: 58px;
    color: #60311B;
    margin-bottom: 15px;
  }
  .contact-end-two p{
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #231F1B;
    margin-bottom: 40px;
  }
  .contact-app a img{
    width: 171px;
    height: 50px;
    border-radius: 30%;
  }

  /* FOOTER */
  .footer{
    background-color: #231F1B;
    padding-bottom: 75px;
  }
  .footer-common{
    padding-top: 189px
  }
  .footer-content h5{
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
    color: #FFFFFF;
    padding-top: 58px
  }
  .footer-content a{
    font-size: 26px;
    line-height: 44px;
    color: #FFFFFF;
  }
  .footer-content ul{
    padding-top: 62px;
    padding-left: 0;
    margin-bottom: 0;
  }
  .footer-content ul li a{
    font-size: 24px;
    line-height: 54px;
    color: #FFFFFF;
    list-style: none;
  }
  .footer-content ul li a:hover{
    color: #60311b;
  }
  .footer-icon ul{
    padding-left: 0;
    display: flex;
    margin-bottom: 0rem;
  }
  .footer-icon ul li{
    list-style: none;
    font-size: 30px;
    color: #E8D3C6;
    padding-right: 60px;
  }
  .footer-icon ul .icon-last{
    padding-right: 0;
  }
  .footer-icon{
    padding-bottom:65px;
  }
  .footer-icon li img{
    transition: 1s ease;
  }
  .footer-icon li img:hover{
    transition: 1s ease;
    transform: scale(0.8);
  }

  .footer-two-para h5{
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  .footer-two-para p{
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 45px;
  }


  .footer-content-two .footer-for form {
    background: #fff;
    padding: 18px 0 17px 30px;
    border-radius: 15px;
    width: 70%;
    font-size: 20px;
    line-height: 40px;
    color: #979797;
  }
  
  .footer-content-two .footer-for form input[type="email"] {
    border: 0;
    width: 100%;
    outline: none;
  
  }
  .footer-for{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-for a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: #F9F3EF;
    background: #AC7046;
    border-radius: 15px;
    padding: 18px 38px 17px 38px;
  }
  .footer-for a:hover{
    background-color: #F9F3EF;
    color: #AC7046;
  }
  .footer-to-end ul{
    padding-top: 59px;
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
  }
  .footer-to-end ul li{
    font-size: 22px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .footer-to-end ul li:hover{
    color: #60311b;
  }
  .footer-to-end ul a{
    padding-right: 60px;
  }
  .footer-to-end ul .privcy{
    padding-right: 0;
  }


  @media screen and (max-width: 1600px) {
    /* NAVBAR START  */
    .navbar-brand {
      --bs-navbar-brand-margin-end: 125px;
    }
    .nav-item {
      padding-right: 55px;
    }
    .bttn-icon i {
      padding-left: 30px;
    }
    .bttn-icon .bttn-link {
      padding: 11px 19px 10px 20px;
    }
    nav .container-fluid {
      margin-left: 60px;
      margin-right: 60px;
      margin-top: 30px;
    }
    /* NAVBAR END  */


  }
  @media screen and (max-width: 1440px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 50px;
      margin-right: 50px;
    }
    .navbar-brand {
      --bs-navbar-brand-margin-end: 115px;
    }
    .bttn-icon .bttn-link {
      padding: 9px 17px 8px 18px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 1340px) {
    /* NAVBAR START  */
    /* .navbar-brand {
      --bs-navbar-brand-margin-end: 71px;
    } */
    /* .nav-item {
      padding-right: 30px;
    } */
    /* .bttn-icon .bttn-link {
      padding: 8px 15px 7px 14px;
      font: normal normal 600 16px/23px Be Vietnam Pro;
    } */
    /* .bttn-icon i {
      padding-left: 18px;
    } */
    /* nav .container-fluid {
      margin-left: 99px;
      margin-right: 99px;
      margin-top: 18px;
    } */
    /* NAVBAR END  */
  }
  @media screen and (max-width: 1199px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 69px;
      margin-right: 69px;
      margin-top: 16px;
    }
    .navbar-brand {
      --bs-navbar-brand-margin-end: 61px;
    }
    .nav-item {
      padding-right: 20px;
    }
    .bttn-icon .bttn-link {
      padding: 7px 14px 6px 13px;
      font-size: 15px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 1024px) {
    /* NAVBAR START  */
    .navbar-brand {
      --bs-navbar-brand-margin-end: 41px;
    }
    .nav-item {
      padding-right: 15px;
    }
    .bttn-icon i {
      padding-left: 12px;
    }
    .bttn-icon .bttn-link {
      padding: 6px 13px 5px 12px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 991px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 45px;
      margin-right: 45px;
      margin-top: 16px;
    }
    .nav-item {
      padding-top: 15px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 768px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 39px;
      margin-right: 39px;
      margin-top: 14px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 640px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 35px;
      margin-right: 35px;
      margin-top: 14px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 575px) {

  }
  @media screen and (max-width: 480px) {
    /* NAVBAR START  */
    nav .container-fluid {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 12px;
    }
    .navbar-brand img {
      width: 150px;
      height: 30px;
    }
    /* NAVBAR END  */
  }
  @media screen and (max-width: 320px) {

  }