.calc-common{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator form{
    background-color: black;
    padding: 10px;
}
.calculator .type-full input{
    width: 100%;
    height: 50px;
    text-align: end;
    border-bottom: 1px solid rgb(98, 94, 94);
    font-size: larger;
}
input{
    text-align: center;
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    background-color: black;
    padding: 0;
}
.orange{
    color: rgb(253, 110, 66);
    font-weight: bolder;
    font-size: large;
}
.white{
    color: white;
    font-weight: bold;
    font-size:medium;
}
input[type="submit"]{
    background-color: rgb(253, 110, 66);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}


/* canvas{
    position: absolute;
    top: 0;
    left: 0;
    width:100px;
  }
  
  .wrapper{
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5vw;
    width: 100%;
    height: 100%;
  } */

/* .trailElement{
    position: relative;
}
.trailElement {
    position: fixed;
  }
  .trailElement.trailElement#trail_0:before, .trailElement#trail_0:before{
    border: 1px solid #f2313e;
    border-radius: 50%;
    color: #f2313e;
    content: "";
    font-size: .6rem;
    left: -9px;
    position: absolute;
    top: -9px;
    transition: all .75s cubic-bezier(.38,1.03,1,1.35);
    width: 100px;
    height: 1px;
  } */
  

#canvas {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* #canvas span::before{
    border: 1px solid #f2313e;
    border-radius: 50%;
    color: #f2313e;
    content: "";
    position: absolute;
    transition: all .75s cubic-bezier(.38,1.03,1,1.35);
    width: 20px;
    height: 1px;
} */

