* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    list-style-type: none;
  }
    a{
    text-decoration: none;
  }
  .common-ho .bg-body-ter{
    background-color: #222b54;
  }
  .common-ho .navbar .container-fluid{
    padding-left: 140px;
    padding-right: 48px;
    padding-top: 31px;
    padding-bottom: 30px;
  }
  .com-anc li .nav-link{
    font-size: 24px;
    line-height: 32px;
    width: 172px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

.com-anc li .nav-link:hover, .com-anc li .nav-link.active {
	background-color: white;
    color: #222b54 !important;
}
.banner-sec .container {
    padding-top: 73px;
    padding-bottom: 128px;
}
.banner-content h1{
    font-size: 76px;
    line-height: 76px;
    font-weight: 600;
    color: #222b54;
    padding-bottom: 32px;
}
.banner-content p{
    font-size: 35px;
    line-height: 54px;
    color: #1f5078;
}

.solution{
    background-color: #e7f3ff;
    border-radius: 22px;
}
.solution-title{
    padding-top: 87px;
    padding-bottom: 88px;
}
.solution-title h2{
    font-size: 59px;
    font-weight: 600;
    color: #092349;
}
.solution-two{
    background-color: white;
    padding: 30px 68px 40px 71px;
}
.solution-two p{
    font-size: 33px;
    line-height: 58px;
    color: #00357b;
}
.pay-less{
    padding: 45px 32px 19px 32px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pay-less img{
    width: 76px;
    height: 78px;
}
.pay-less h3{
    color: #00357b;
    font-size: 37px;
    font-weight: 600;
    padding-top: 22px;
    padding-bottom: 22px;
}
.pay-less p{
    font-size: 23px;
    color: #1f5078;
    line-height: 36px;
    padding-bottom: 23px;
}
.pay-less hr{
    border: solid 3px #62a1c5;
}
.solution-card{
    padding-top: 135px;
    padding-bottom: 106px;
}

/* DEBT */
.debt-settle{
    padding-top: 108px;
    padding-bottom: 120px;
    position: relative;
}
.debt-title h2{
    font-size: 60px;
    color: #092349;
    font-weight: 600;
    padding-bottom: 98px;
}

.steps-to-debt p{
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    padding-top: 40px;
}
.steps-to-debt{
    border-radius: 12px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 35px 30px;
    width:90%;
}
.steps-to-debt img{
    width: 75px;
    height: 75px;
}
.debt-before{
    position: relative;
}
.debt-before::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:20%;
    left: 2%;
    z-index: -1;
    background: url(../../assets/images/steps-to-debt.png) no-repeat;
}
.our-client{
    padding-top: 108px;
    padding-bottom: 120px;
    background-color: #e7f3ff;
}
.client-title h2{
    font-size: 60px;
    color: #092349;
    font-weight: 600;
    padding-bottom: 98px;
}
.client-detail-common{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}
.client-detail h4{
    color: #00357b;
    font-size: 37px;
    font-weight: 600;
}
.client-detail h5{
    font-size: 23px;
    color: #1f5078;
}
.client-ples i{
    font-size: 45px;
}
.client-common .client-photos{
    width: 100%;
}

.footer{
    background-color: #092349;
}
.contact-us h4{
    font-size: 23px;
    color: white;
    padding-bottom: 35px;
}
.contact-para p{
    font-size: 21px;
    line-height:35px;
    color: #cbd6e2;
}
.contact-para a{
    font-size: 21px;
    line-height:35px;
    color: #cbd6e2;
    text-decoration: none;
}
.contact-para{
    padding-left: 25px;
}
.contact-social a{
    font-size: 21px;
    line-height:35px;
    color: white;
    text-decoration: none;
}
.contact-social{
    padding-left: 25px;
}
.contact-details{
    padding-bottom: 30px;
}