* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/** Dynamic css loading on dark and light mode */

body {
  background: var(--body-background);
}
:root {
  --body-background: #E6DAD3;
  --h5-color : black;
  --home-content-h5 : #60311B; 
  --h2-color : black;
  --p-color : #231F1B;
  --eco-second-h4 :#60311B;
  --map-content-2022-h5 : #231F1B;
  --map-2022-before : 1px solid #231F1B;
  --map-img1-22 : #E7D3C6; 
  --a-background-color : #3f3b3b;
  --a1-color : #fff;

}

[data-theme="dark"] {
  --body-background : #2b2b2b;
  --h5-color: #FFFFFF;
  --home-content-h5 :#ffffff;
  --h2-color : #e7d3c6;
  --p-color :  #FFFFFF; 
  --eco-second-h4 :#E7D3C6;
  --map-content-2022-h5 : #E7D3C6;
  --map-2022-before :1px solid#e7d3c6;
  --map-img1-22 : #231f1b; 
  --a-background-color : #e7d3c6; 
  --a1-color : black;
 
}

.light-logo{
  display: block;
}
[data-theme="dark"]  
  .light-logo{
  display:none;
}
.dark-logo{
  display: none;
}
[data-theme="dark"]  
  .dark-logo{
  display:block;
}


/* Toggle dark mode and light mode css START */
.switch-tog {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch-tog input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #645c49;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-round i{
  position: absolute;
}
.slider-round .bi-brightness-high{
  top: 5px;
  left: 8px;
  font-size: 16px;
}
.slider-round .bi-moon{
  top: 5px;
  right: 8px;
  font-size: 16px;
}
input:checked + .slider-round {
  background-color: #645c49;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #645c49;
}

input:checked + .slider-round:before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px); */
  transform: translateX(31px);
}

/* Rounded sliders */
.slider-round {
  border-radius: 21px;
}

.slider-round:before {
  border-radius: 50%;
}
/* Toggle dark mode and light mode css END*/

/* [data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --h5-color: red;
  --body-background : #2b2b2b;
}

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --h5-color: black;
  --body-background: #f8f8f8;
}
h5 {
  color: var(--h5-color);
}

#tog.active .move-mode .bi-moon {
  text-align: center;
  display: block;
  font-size: 20px;
}
#tog .move-mode .bi-moon {
  display: none;
}

#tog.active .move-mode  .bi-brightness-high  {
  display: none;
}

#tog .move-mode .bi-brightness-high  {
  text-align: center;
  display: block;
  font-size: 20px;
}

#tog {
  position: relative;
  display: block;
  width: 80px;
  height: 35px;
  border-radius: 160px;
  background: #645c49;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#tog .move-mode {
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #e7d3c6, #645c49);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#tog.active .move-mode {
  left: 50px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
} */

/* HOME SECTION START */
.home-section{
  padding-top: 30px;
}
.nav-icon-dropdown {
  margin-left: 50px;
}
.home-content h5 {
  text-align: left;
  font: normal normal 600 50px/60px Be Vietnam Pro;
  letter-spacing: 0px;
  color: var(--home-content-h5);    
  opacity: 1;
  padding-top: 315px;
}
.home-content p {
  text-align: left;
  font: normal normal 300 26px/42px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6; 
  color: var(--eco-second-h4 ); 
  opacity: 1;
  padding-bottom: 30px;
}
.home-content a {
  background-color: #e7d3c6;
background-color: var(--a-background-color);
color: black;
  color: var(--a1-color)!important; 
  border-radius: 30px;
  opacity: 1;
  width: 175px;
  height: 60px;
  text-decoration: none;
  padding: 15px 36px;
}
.home-content-color {
  padding-top: 225px;
  padding-bottom: 244px;
}
.ho-common {
  position: relative;
}
.home-content-icon {
  position: absolute;
  padding-top: 350px;
  right: 75px;
}
.home-content-icon li {
  list-style: none;
}
.home-content-icon img {
  padding-top: 20px;
}
@media screen and (max-width: 1440px) {
  .home-content-icon {
    padding-top: 350px;
    right: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .home-content h5 {
    font: normal normal 600 38px/55px Be Vietnam Pro;
    padding-top: 290px;
  }
  .home-content p {
    font: normal normal 300 19px/37px Be Vietnam Pro;
    padding-bottom: 30px;
  }
  .home-content-icon {
    padding-top: 320px;
    right: 35px;
  }
  .home-content-color {
    padding-top: 200px;
    padding-bottom: 160px;
  }
}
@media screen and (max-width: 991px) {
  .home-content h5 {
    font: normal normal 600 27px/45px Be Vietnam Pro;
    padding-top: 290px;
  }
  .home-content p {
    font: normal normal 300 15px/30px Be Vietnam Pro;
    padding-bottom: 30px;
  }
  .home-content-icon {
    padding-top: 320px;
    right: 75px;
  }
  .home-content-color {
    padding-top: 180px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 768px) {
  .home-content-icon {
    display: none;
  }
  .home-content h5 {
    font: normal normal 600 32px/45px Be Vietnam Pro;
    padding-top: 270px;
  }
  .home-content-color {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  



}
@media screen and (max-width: 640px) {
  .home-content h5 {
    font: normal normal 600 20px/30px Be Vietnam Pro;
    padding-top: 140px;
  }
  .home-content p {
    font: normal normal 300 16px/24px Be Vietnam Pro;
    padding-bottom: 15px;
  }
  .home-content-color {
    /* padding-top: 130px;
    padding-bottom: 40px; */ 
    display: none;
  }
  .home-content a {
    padding: 9px 20px;
  }
}
@media screen and (max-width: 480px) {
  .home-content h5 {
    padding-top: 120px;
}
}
@media screen and (max-width: 320px) {
  .home-content h5 {
    font: normal normal 600 17px/28px Be Vietnam Pro;
    padding-top: 70px;
  }
  .home-content p {
    font: normal normal 300 16px/21px Be Vietnam Pro;
    padding-bottom: 12px;
  }
  .home-content-color {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  
}
/* HOME SECTION END */
/* FOOD START */
.food h2 {
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  padding-bottom: 108px;
  color: var(--h2-color);
}
.food-img {
  padding-bottom: 51px;
}
.food-content h5 {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--eco-second-h4 );
}
.food-content span {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--eco-second-h4 );
}
.food-content p {
  letter-spacing: 0px;
  color: #ffffff;
  color: var(--p-color); 
}
.food-content {
  padding-bottom: 174px;
  padding-right: 137px;
  padding-left: 90px;
}
@media screen and (max-width: 1199px) {
    .food-content {
        padding-bottom: 127px;
        padding-right: 88px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 1024px) {
  .food-content {
    padding-bottom: 145px;
    padding-right: 84px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 991px) {
  .food-content {
    padding-bottom: 120px;
    padding-right: 30px;
    padding-left: 5px;
  }
  .food h2 {
    padding-bottom: 85px;
  }
}
@media screen and (max-width: 768px) {
  .food h2 {
    padding-bottom: 60px;
}
.food-content {
  padding-bottom: 80px;
}
}
@media screen and (max-width: 640px) {
  .food-content {
    padding-bottom: 20px;
    padding-right: 183px;
    padding-left: 144px;
  }
  .food h2 {
    padding-bottom: 70px;
  }
  .food {
    padding-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .food-content {
    padding-bottom: 20px;
    padding-right: 128px;
    padding-left: 85px;
  }
  .food-img {
    padding-bottom: 35px;
  }
  .food h2 {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  .food h2 {
    padding-bottom: 15px;
    font-size: 24px;
  }
  .food-content {
    padding-right: 88px;
    padding-left: 30px;
  }
  .food {
    padding-top: 45px;
}
}

/* FOOD END */
/* ECOSYSTEM START */
.ecosystem h2 {
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  padding-bottom: 129px;
  color: var(--h2-color);
}

.eco-second p {
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  line-height: 26px;
  font-size: 20px;
  padding-bottom: 61px;
  color: var(--p-color); 
}
.eco-second h4 {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--eco-second-h4); 
  line-height: 30px;
  font-size: 24px;
  opacity: 1;
  padding-bottom: 12px;
}
.eco-image {
  position: absolute;
  left: 45px;
}
.eco-image1 {
  position: absolute;
  left: 80px;
  top: 40px;
}
.eco-img {
  position: relative;
}
.eco-second {
  padding-left: 141px;
  padding-right: 216px;
}


@media screen and (max-width: 1340px) {
  .our-content-right {
    padding-right: 78px !important;
} 
}
@media screen and (max-width: 1199px) {
    .eco-image {
        display: none;
    }
    .eco-second {
        padding-left: 129px;
        padding-right: 38px;
    }
}
@media screen and (max-width: 1024px) {
  .eco-image {
    display: none;
  }
  .eco-image1 {
    left: 10px;
    top: 0px;
  }
  .eco-second {
    padding-left: 110px;
    padding-right: 60px;
  }
  .eco-second p {
    padding-bottom: 35px;
  }
  .our-content-right {
    padding-right: 18px !important;
}
}
@media screen and (max-width: 991px) {
  .eco-image1 {
    left: 0px;
    top: 0px;
  }
  .eco-second {
    padding-left: 110px;
    padding-right: 16px;
  }
  .eco-second p {
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .eco-second h4 {
    line-height: 30px;
    font-size: 18px;
    padding-bottom: 0px;
  }
  .ecosystem h2 {
    padding-bottom: 100px;
  }
  .our-content-right {
    padding-right: 18px !important;
}
}
@media screen and (max-width: 768px) {
  .ecosystem h2 {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 640px) {
  .eco-second {
    padding-left: 21px;
    padding-right: 22px;
  }
  .eco-img {
    display: none;
  }
  .ecosystem h2 {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .ecosystem h2 {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .ecosystem h2 {
    padding-bottom: 30px;
    padding-top: 20px;
  }
}
/* ECOSYSTEM END */
/* OUR PRESENCE START*/
.our-presence h2 {
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  padding-bottom: 108px;
  padding-top: 189px;
  color: var(--h2-color);
}

@media screen and (max-width: 768px) {
  .our-presence h2 {
    padding-bottom: 40px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 640px) {
  .our-presence h2 {
    padding-bottom: 45px;
    padding-top: 30px;
  }
}
/* OUR PRESENCE END*/
/* ROADMAP START */
.roadmap {
  padding-top: 175px;
  position: relative;
}
.roadmap h2 {
  padding-bottom: 89px;
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  color: var(--h2-color);
}
.roadmap h5 {
  font: normal normal 600 32px/40px Be Vietnam Pro;
  letter-spacing: 0px;
  /* color: #e7d3c6; */
  color: var( --map-content-2022-h5); 
  opacity: 1;
}
.map-img-22 {
  border-radius: 50%;
  background: #ac7046 0% 0% no-repeat padding-box;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-img1-22 {
  border-radius: 50%;
  border: 1px solid #e7d3c6;
  border: var( --map-2022-before );
  background: #231f1b;
  background: var(--map-img1-22);
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-img-23 {
  border-radius: 50%;
  border: 1px solid #e7d3c6;
  border: var( --map-2022-before );
  background: #231f1b;
  background: var(--map-img1-22);
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.map-content-2022 h5 {
  font: normal normal 600 24px/30px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var( --map-content-2022-h5); 
  margin-top: 25px;
}
.map-content-2022 p {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var( --p-color); 
  font-size: 24px;
  line-height: 30px;
}
.map-content-2023 h5 {
  font: normal normal 600 24px/30px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var( --map-content-2022-h5); 
  margin-top: 25px;
}
.map-content-2023 p {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var( --p-color); 
  font-size: 24px;
  line-height: 30px;
}
.map-content-2023 {
  margin-left: 144px;
  margin-right: -79px;
}
.map-2022 {
  padding-bottom: 112px;
  position: relative;
}
.map-2022::before {
  content: "";
  position: absolute;
  border-top: 1px solid #e7d3c6;
  border-top: var( --map-2022-before );
  /* left: 52px; */
  width: 100%;
  top: 45px;
  z-index: -1;
}
.map-2023 {
  padding-bottom: 175px;
  position: relative;
}
.map-2023::before {
  content: "";
  position: absolute;
  border-top: 1px solid #e7d3c6;
  border-top: var( --map-2022-before );
  /* left: 52px; */
  width: 100%;
  top: 45px;
  z-index: -1;
}
.map-2022 .roadmap-dot {
  font-size: 47px;
  left: -14px;
  color: #AC7045;
  position: absolute;
}
.map-2022 .roadmap-dot1 {
  font-size: 47px;
  text-align: end;
  color: #AC7045;
  position: absolute;
  right: -15px;
}
.map-2023 .roadmap-dot2 {
  font-size: 47px;
  left: -14px;
  color: #AC7045;
  position: absolute;
}
.map-2023 .roadmap-dot3 {
  font-size: 47px;
  text-align: end;
  color: #AC7045;
  position: absolute;
  right: -15px;
}
.road-map-com1 {
  padding-left: 150px;
  padding-right: 130px;
}
.road-map-com3 {
  padding-right: 18px;
}
.road-map-com4 {
  padding-left: 35px;
}
.map-content-2023 {
    margin-left: 144px;
    margin-right: -75px;
}
@media screen and (max-width: 1600px) {
    .map-content-2023 {
        margin-left: 98px;
        margin-right: -43px;
    }
    .map-img-23 {
        margin-left: 115px;
    }
}
@media screen and (max-width: 1340px) {
    .map-content-2023 {
        margin-left: 96px;
        margin-right: -33px;
    }
    .map-img-23 {
        margin-left: 95px;
    }
    .road-map-com1 {
        padding-left: 96px;
        padding-right: 89px;
    }
}
@media screen and (max-width: 1199px) {
    .map-img-23 {
        margin-left: 75px;
    }
    .map-content-2023 {
        margin-left: 67px;
        margin-right: -36px;
    }
    .road-map-com1 {
        padding-left: 75px;
        padding-right: 40px;
    }
}
@media screen and (max-width: 1024px) {
  .road-map-com1 {
    padding-left: 85px;
    padding-right: 25px;
  }
  .road-map-com3 {
    padding-right: 10px;
  }
  .map-content-2022 p {
    font-size: 20px;
    line-height: 26px;
  }
  .road-map-com2 {
    padding-left: 40px;
  }
  .map-img-23 {
    margin-left: 55px;
  }
  .map-content-2023 {
    margin-left: 58px;
    margin-right: -14px;
  }
  .map-content-2023 p {
    font-size: 20px;
    line-height: 26px;
  }
  .map-2022 .roadmap-dot{
    display: none;
}
.map-2022 .roadmap-dot1 {
    display: none;
}
.map-2023 .roadmap-dot2 {
    display: none;
}
  .map-2023 .roadmap-dot3 {
    display: none;
}
}
@media screen and (max-width: 991px) {
  .road-map-com1 {
    padding-left: 75px;
    padding-right: 0px;
  }
  .map-content-2022 p {
    font-size: 14px;
    line-height: 22px;
  }
  .map-content-2022 h5 {
    font: normal normal 600 18px/25px Be Vietnam Pro;
    margin-top: 20px;
  }
  .map-content-2023 p {
    font-size: 14px;
    line-height: 22px;
  }
  .map-content-2023 h5 {
    font: normal normal 600 18px/25px Be Vietnam Pro;
    margin-top: 20px;
  }
  .map-img-22 {
    width: 80px;
    height: 80px;
  }
  .map-img1-22 {
    width: 80px;
    height: 80px;
  }
  .road-map-com2 {
    padding-left: 30px;
  }
  .road-map-com4 {
    padding-left: 0px;
  }
  .map-img-23 {
    margin-left: 45px;
    width: 80px;
    height: 80px;
  }
  .map-content-2023 {
    margin-left: 50px;
    margin-right: -29px;
  }
}
@media screen and (max-width: 768px) {
    .map-img-23 {
        margin-left: 30px;
    }
    .map-content-2023 {
        display: none;
    }
    .map-content-2022 {
        display: none;
    }
    .roadmap {
      padding-top: 80px;
    }
    .map-2023 {
      padding-bottom: 80px;
    }
  }
@media screen and (max-width: 640px) {
  .roadmap {
    padding-top: 60px;
  }
  .roadmap h2 {
    padding-bottom: 45px;
  }
  .map-content-2022 {
    display: none;
  }
  .map-content-2023 {
    display: none;
  }
  .road-map-com1 {
    padding-left: 10px;
    padding-right: 0px;
  }
  .road-map-com2 {
    padding-left: 0px;
  }
  .road-map-com3 {
    padding-right: 0px;
  }
  .map-2022 {
    padding-bottom: 50px;
  }
  .map-img-23 {
    margin-left: 10px;
  }
  .map-content-2023 {
    margin-left: 42px;
    margin-right: -72px;
  }
  .map-2023 {
    padding-bottom: 40px;
  }
  .roadmap-dot{
    display: none;
  }
  .roadmap-dot1{
    display: none;
  }
  .roadmap-dot2{
    display: none;
  }
  .roadmap-dot3{
    display: none;
  }
  
}
@media screen and (max-width: 480px) {
  .map-content-2022 {
    display: none;
  }
  .map-content-2023 {
    display: none;
  }
  .map-img-23 {
    margin-left: 10px;
  }
  .road-map-com1 {
    padding-left: 40px;
    padding-right: 0px;
  }
  .road-map-com1 {
    padding-left: 5px;
  }
  .road-map-com2 {
    padding-left: 0px;
  }
}
@media screen and (max-width: 320px) {
  .roadmap {
    padding-top: 60px;
  }
  .roadmap h2 {
    padding-bottom: 40px;
  }
  .map-2022::before {
    display: none;
  }
  .map-2022 .roadmap-dot {
    display: none;
  }
  .map-2022 .roadmap-dot1 {
    display: none;
  }
  .map-img-22 {
    margin-left: 10px;
  }
  .road-map-com3 {
    padding-top: 20px;
    margin-left: 7px;
  }
  .road-map-com4 {
    padding-top: 20px;
    margin-left: 7px;
  }
  .map-2023::before {
    display: none;
  }
  .map-2023 .roadmap-dot2 {
    display: none;
  }
  .map-2023 .roadmap-dot3 {
    display: none;
  }
  .road-map-com7 {
    padding-top: 20px;
  }
  .road-map-com8 {
    padding-top: 20px;
  }
}

/* ROADMAP END */
/* OUR TEAM START */
.our-team h2 {
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  padding-bottom: 108px;
  color: var(--h2-color);
}
.our-first h5 {
  text-align: left;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--h5-color); 
  opacity: 1;
}
.our-frst-content h5 {
  text-align: left;
  font: normal normal normal 24px/30px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--h5-color); 
  opacity: 1;
}
.our-frst-content .our-first-title span {
  text-align: left;
  font: normal normal normal 24px/30px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--h5-color); 
  opacity: 1;
}
.our-team-img {
  padding-right: 20px;
}
.team-icon {
  color: white;
}
.our-team-ceo {
  text-align: left;
  font: italic normal 300 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--h5-color); 
  opacity: 1;
}
.our-team-im {
  background: #60311b 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 0.6;
}
.our-content-right {
  text-align: left;
  font: normal normal 300 20px/26px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--p-color); 
  opacity: 1;
  padding-top: 16px;
  padding-right: 131px;
}
/* SECOND ROW START */
.our-second h5 {
  text-align: left;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--h5-color); 
  opacity: 1;
}
.our-team-im1 {
  background: #60311b 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 0.6;
}
.our-team-img1 {
  padding-right: 20px;
  padding-top: 20px;
}
.our-team2-row {
  padding-bottom: 99px;
  margin-top: -55px;
}
.our-team3-row {
  padding-bottom: 175px;
}
@media screen and (max-width: 768px) {
  .our-team h2 {
    padding-bottom: 80px;
  }
  .our-team3-row {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 640px) {
  .our-frst-content {
    padding-top: 30px;
    padding-bottom: 75px;
  }
  .our-team-im {
    margin-left: 20px;
  }
  .our-team-img1 {
    padding-right: 20px;
    padding-top: 20px;
  }
  .te-our2 {
    margin-left: 20px;
  }
  .our-team2-row {
    padding-bottom: 55px;
    margin-top: -55px;
  }
  .our-team h2 {
    padding-bottom: 50px;
  }
  .our-team3-row {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .our-team h2 {
    padding-bottom: 50px;
  }
  .our-team-img1 {
    padding-top: 10px;
  }
  .our-second h5 {
    font-size: 13px;
  }
  .our-team2-row {
    padding-bottom: 35px;
    margin-top: -55px;
  }
  .our-team3-row {
    padding-bottom: 50px;
  }
}
/* OUR TEAM END */
/* PARTNERS START */
.partners h2 {
  text-align: center;
  font: normal normal 600 34px/80px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #e7d3c6;
  opacity: 1;
  padding-bottom: 81px;
  color: var(--h2-color);
}
@media screen and (max-width: 768px) {
  .partners h2 {
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 640px) {
  .partners h2 {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .partners h2 {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .partners h2 {
    padding-bottom: 0px;
    font-size: 24px;
  }
  .our-team3-row {
    padding-bottom: 30px;
  }
}

/* FOOTER START */
.footer {
  padding-top: 175px;
}
.footer-title {
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--p-color); 
  padding-bottom: 149px;
}
.footer-title span {
  padding-left: 31px;
  padding-right: 31px;
}
.footer-title p {
  margin-top: 2px;
  font-size: 26px;
  line-height: 35px;
}
.footer1 {
  border-right: 1px solid #e7d3c6;
}
.footer-ex {
  text-align: left;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--p-color); 
  line-height: 16px;
}
.footer2 a button {
  border-radius: 30px;
  text-align: left;
  background: #e7d3c6;
  background-color: var(--a-background-color);
color: black;
  color: var(--a1-color)!important; 
  font: normal normal normal 22px/28px Be Vietnam Pro;
  letter-spacing: 0px;
  color: #231f1b;
  opacity: 1;
  padding: 16px 29px 16px 30px;
  margin-bottom: 56px;
  border: 0;
}
.footer2 p {
  text-align: left;
  font: normal normal normal 24px/30px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--p-color); 
  opacity: 1;
}
.footer2 span {
  text-align: left;
  font: normal normal 300 20px/35px Segoe UI;
  letter-spacing: 0px;
  color: #e7d3c6;
  color: var(--p-color); 
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .footer-title span {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-title p {
    font-size: 19px;
  }
  .footer-title {
    padding-bottom: 120px;
  }
  .footer2 a button {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 991px) {
  .footer1 {
    display: block !important;
  }
  .footer-title {
    letter-spacing: 0px;
    color: #e7d3c6;
    padding-bottom: 80px;
  }
  .footer-title p {
    margin-top: 10px;
    color: var(--p-color);
  }
  .footer2 a button {
    font: normal normal normal 19px/24px Be Vietnam Pro;
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 80px;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    padding-top: 100px;
  }
  .footer-title p {
    margin-top: 5px;
    font-size: 16px;
  }
  .footer-title {
    padding-bottom: 40px;
  }
  .footer2 a button {
    font: normal normal normal 12px/10px Be Vietnam Pro;
    margin-bottom: 26px;
    padding: 14px 15px 14px 15px;
  }
  .footer2 span {
    font: normal normal 300 18px/40px Segoe UI;
  }
}
@media screen and (max-width: 480px) {
  .footer-title p {
    margin-top: 0px;
    font-size: 14px;
  }
  .footer-ex {
    font-size: 12px;
  }
  .footer2 p {
    font: normal normal normal 18px/0px Segoe UI;
  }
  .footer-title {
    padding-bottom: 30px;
  }
  .footer2 span {
    font: normal normal 300 15px/29px Segoe UI;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding-top: 50px;
  }
  .footer1 {
    border-right: none;
  }
  .footer2 {
    display: contents;
  }
  .footer2 a button {
    font: normal normal normal 12px/15px Be Vietnam Pro;
    margin-bottom: 0px;
    padding: 8px 10px 10px 22px;
  }
  .footer-title {
    padding-bottom: 0px;
  }
  .footer2 span {
    padding-left: 8px;
    font-size: 14px;
  }
  .footer2 p {
    font: normal normal normal 16px/0px Segoe UI;
    padding-left: 10px;
}
.footer-title p {
  margin-top: 0px;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 10px;
}
}

