* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
a{
 text-decoration: none;
}
.home-section {
  background-image: url(/Images/bg\ img.jpg);
  width: 100%;
  position: relative;
  background-size: cover;
}
.scroll {
  background-color: rgba(19, 18, 18, 0.7) !important;
}
.home-section::before {
  content: " ";
  position: absolute;
  opacity: 0.7;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
}
.ho-foot {
  position: relative;
}
/* NAVBAR START*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand img {
  width: 150px;
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #de2021;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link {
  color: #aeaeae;
  padding-left: 35px !important;
}
.nav-link:hover {
  color: white;
}
.nav-link i {
  padding-left: 5px;
  font-size: smaller;
}

.header-info {
  display: flex;
  color: white;
}
.f-right {
  float: right;
}
.header-info .info-item-right {
  margin-right: 40px;
}
.header-info .info-item span {
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  color: grey;
}
.info-item h5 a {
  font-size: smaller;
  color: white;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-brand img {
    padding: 15px;
  }
  .nav-link {
    padding-left: 5px !important;
  }
  .header-info .info-item-right {
    margin-right: 30px;
  }
}
/* NAVBAR END*/

.home-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 230px;
}
.home-content1 span {
  font-size: 40px;
  display: inline-block;
  color: white;
  font-weight: 400;
}
.home-content-head {
  font-size: 80px;
  color: white;
}
.home-content-btn {
  padding-top: 5px;
}
.home-content-btn1 {
  display: inline-block;
  overflow: hidden;
  background-color: #de2021;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0px 25px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.home-content-btn1:hover{
 background-color:white;
 color: #de2021;
}
.home-content-btn1 i {
  font-size: 10px;
}
.home-content-btn2 {
  display: inline-block;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  border-radius: 5px;
  margin-left: 35px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0px 32px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0.8;
}
.home-content-btn2:hover{
  background-color:white;
  color: #de2021;
 }
.bi.bi-arrow-left-short,
.bi.bi-arrow-right-short {
  padding-left: 2px;
  font-size: 30px;
  border-radius: 5px;
  height: 40px;
  width: 35px;
  background-color: grey;
  color: white;
}
.bi.bi-arrow-left-short {
  position: absolute;
  top: 75%;
  left: 1%;
  transform: translate(-40%, -40%);
  cursor: pointer;
  line-height: 45px;
}
.bi.bi-arrow-right-short {
  position: absolute;
  top: 75%;
  right: -1%;
  transform: translate(-40%, -40%);
  background-color: red;
  color: #fff;
  cursor: pointer;
  line-height: 45px;
  font-size: 30px;
}
.sm-button{
  border-bottom: 4px solid transparent;
  padding-bottom: 15px;
}
.sm-button:hover{
  border-bottom: 4px solid #de2021;
}
.sm-services__icon {
  margin-right: 15px;
}
.sm-services__icon i {
  font-size: 50px;
  color: orangered;
}
.sm-services__text span {
  font-size: 14px;
  color: grey;
  display: inline-block;
  padding-top: 14px;
}
.sm-services__text h4 {
  color: white;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
}
footer {
  margin-top: 150px;
}
.about-img {
  padding-top: 140px;
  padding-bottom: 140px;
}
.ab-im-one{
  position: relative;
}
.ab-left-content {
  margin-left: 75px;
}
.about__wrapp::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  background: #80808030;
  top: 0;
}
.about__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.about__wrapp .section__title {
  font-size: 40px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 35px;
}
.abd-text{
  font-weight: 500;
}
.about__wrapp .r-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
}
.about__wrapp .r-text span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #80808075;
}
.ab-author {
  margin-bottom: 30px;
}
.ab-left-content .ab-author h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.ab-left-content .ab-author h5 span {
  color: red;
  font-weight: 400;
}
/* .ab-small-con{
  position: absolute;
} */
.ab-small-con1{
  position: absolute;
  display: flex;
    align-items: center;
    background-color: #fbfbfb;
    width: 14%;
    z-index: 1;
    margin-left: -50px;
    margin-top: -40px;
    border-radius: 8px;
    padding: 5px 26px 5px 10px;
}
.ab-small-con2{
  position: absolute;
  display: flex;
    align-items: center;
    background-color: #fbfbfb;
    width: 14%;
    z-index: 1;
    margin-left: 453px;
    margin-top: -50px;
    border-radius: 8px;
    padding: 5px 26px 5px 10px;
}
.ab-list-content span{
  font-size: xx-large;
  font-weight: 500;
}
.ab-list-content h5{
  font-size: small;
  color: gray;
}
.ab-list-content1 span{
  font-size: xx-large;
  font-weight: 500;
}
.ab-list-content1 h5{
  font-size: 11px;
  color: gray;
}
.img-con1{
  width: 50%;
}
.sm-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 45px;
  color: grey;
}
.ab-btn {
  margin-bottom: 24px;
}
.tp-btn {
  display: inline-block;
  overflow: hidden;
  color: white;
  background-color: #de2021;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 56px;
  padding: 0px 40px;
  border: 1px solid red;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.tp-btn:hover{
  color: #de2021;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}
.services-sec {
  background-color: #f7f7f7;
  padding-bottom: 115px;
  padding-top: 120px;
}
.ser-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 45px;
  color: #808080e6;
}
.ab-button a{
  color:black;
  font-weight: 500;
}
.ab-button i{
  font-size: smaller;
}
.btn-ser1 {
  margin-bottom: 24px;
  background-color: white;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-ser1:hover{
  color: #de2021;
  background-color: white;

}
.services__wrapp .services__title {
  font-size: 39px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 27px;
}
.services__wrapp::before {
  position: absolute;
  content: "";
  width: 98%;
  height: 0.5px;
  background: #80808030;
  top: 0;
}
.services__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.services__wrapp .se-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
  font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #80808075;
}
.service-li-head {
  background-color: white;
  width: 315.333px;
  margin-right: 30px;
  padding-inline-start: 36px;
  padding-inline-end: 36px;
}
.service-li-head h5 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sr-button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #80808047;
  color: grey;
}
.sr-button a{
  color: #808080c7;
}
.sr-button a:hover{
  color: #de2021;
}
.service-lis {
  padding-bottom: 10px;
}
.service-lis ul{
  padding-left: 0;
  color: #808080c7;
}
.service-lis ul li {
  list-style: none;
  margin-bottom: 12px;
}
.ser-img {
  background-image: url(/Images/bg\ img.jpg);
  position: relative;
  background-position: center;
  /* height: 80vh; */
}
.ser-img-content {
  background-color: #de2021;
  padding: 45px 20px 45px 30px;
  bottom: 0;
  /* width: 100%; */
  /* z-index: 2; */
  /* left: -2px; */
}
.ser-image-cont {
  padding-top: 250px;
  padding-left: 0px;
}
.ser-img-border {
  border-right: 2px solid white;
  opacity: 0.3;
  height: 100%;
}
.ser-img-content span {
  font-size: 14px;
  line-height: 1.2;
  color: white;
}
.ser-img-content h5 {
  font-size: 30px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}
.ser-info {
  padding-top: 70px;
}
.ser-info p {
  color: white;
}
.ser-info span {
  background-color: white;
  color: grey;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
}
.bnr-slide-height {
  position: relative;
  padding-right: 0;
}
.pages-logo {
  width: 120px;
  filter: grayscale(100%);
}
.pages {
  padding-top: 90px;
  padding-bottom: 90px;
}
.pages-slide1 {
  padding-left: 120px;
}
.brand__title {
  position: relative;
}
.brand__title span {
  padding-right: 5px;
  background-color: white;
  padding-left: 5px;
}
.brand__title::before {
  position: absolute;
  content: "";
  border: 1px solid #d8d8d8;
  width: 100%;
  height: 1px;
  bottom: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

.features__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.features__wrapp::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 0.5px;
  background: grey;
  top: 0;
}
.features__wrapp .features__title {
  font-size: 39px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 27px;
}
.features__wrapp .fe-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
  color: grey;
}
.features-list ul li {
  list-style: none;
  padding: 18px 30px;
  background: #f8f8f8;
  margin-bottom: 22px;
  border-radius: 6px;
  transition: 0.3s;
}
/* .features-list ul li a i {
  color:#b7b7b7;
  font-size: large;
  padding-left: 270px;
} */
.features-list .fea__icon {
  color: #b7b7b7;
  font-size: large;
  padding-left: 278px;
}
.features-list .fea__icon1 {
  color: #b7b7b7;
  font-size: large;
  padding-left: 254px;
}
.features-list .fea__icon2 {
  color: #b7b7b7;
  font-size: large;
  padding-left: 225px;
}
.features-list .fea__icon3 {
  color: #b7b7b7;
  font-size: large;
  padding-left: 312px;
}
.features-list-in a{
  color: black;
}
.features-list-in a:hover {
  color: white;
}
.features-list-in:hover {
  background-color: #de2021;
  margin-left: 20px;
}
.features {
  margin-bottom: 90px;
}
.feedback__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.feedback__wrapp::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 0.5px;
  background: grey;
  top: 0;
}
.feedback__wrapp .feedback__title {
  font-size: 39px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 27px;
}
.feedback__wrapp .feedback-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
  color: grey;
}
/* FEEDBACK */
.feedback {
  background-color: #f7f7f7;
}
.feedback .feedback-para {
  font-size: 16px;
  line-height: 26px;
  color: grey;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.feedback-col-one {
  padding-top: 115px;
  padding-bottom: 30px;
}
.feedback-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.feedback-info a img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.feedback-info .feedback-emp-content {
  margin-left: 20px;
}
.feedback-info .feedback-emp-name {
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 20px;
}
.feedback-emp-designation {
  color: grey;
  font-size: 16px;
}
.feedback-emp-designation span {
  color: #de2021;
}
.feed-cols {
  background-color: white;
  width: 386.5px;
  margin-left: 15px;
  margin-right: 15px;
}
.feedback-p-head {
  padding-left: 20px;
  padding-right: 20px;
}

/* TEAM */
.team-r-comm .overlay {
  position: relative;
  width: 25%;
}
.team-r-comm .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: space-between;
}
.team-r-comm .overlay:hover .middle {
  opacity: 1;
}
.team-r-comm .overlay .team-content {
  color: white;
}

.team-r-comm .team-social i {
  color: black;
  background-color: white;
  font-size: 15px;
  padding: 5px;
}
.team-r-comm .team-social i:hover {
  background-color: #de2021;
  color: white;
}
.team-r-comm {
  padding-left: 0;
  padding-right: 0;
}
.team-r-comm .over-img {
  position: relative;
  width: 303px;
  height: auto;
}
/* .team-r-comm .team-social{
  
} */
/* PROCEESS */
.process {
  margin-top: 80px;
  margin-bottom: 80px;
}
.process-img-two {
  padding-left: 30px;
  padding-top: 80px;
}
.process__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}
.process__list-info {
  display: flex;
  align-items: center;
}
.process__list-icon {
  margin-right: 20px;
}
.process__list-sp-icon {
  padding-right: 60px;
  color: #de2021;
}
.process__list-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* INSIGHTS */

.insights {
  background-color: #f7f7f7;
  padding-bottom: 115px;
}
.blog__item {
  position: relative;
}
.blog__content:hover {
  background-color: #484848;
  color: white;
}
.blog__sm-title a:hover {
  color: white;
}
.blog__content {
  position: relative;
  background-color: white;
  padding: 35px;
}
.blog__meta {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.blog__author {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: gray;
}
.blog__author i {
  color: #de2021;
  padding-right: 8px;
}
.blog__author p {
  margin-bottom: 0;
  font-size: 14px;
  display: inline-block;
  line-height: 1.1;
  position: relative;
}
.blog__author span {
  color: gray;
  padding-left: 15px;
}
.blog__btn {
  display: flex;
  align-items: center;
  margin-top: 120px;
  color: grey;
}
.blog__btn a:hover {
  color: white;
}
.blog__btn a i {
  padding-left: 10px;
}

/* FOOTER AREA */
.footer-area {
  background-image: url(/Images/footer-3-bg.png);
  position: relative;
  background-position: center;
  /* height: 80vh; */
}
.footer-area-com {
  padding-top: 100px;
  padding-bottom: 60px;
}

.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-top .footer-links {
  color: #ffffffc9;
}
.footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 13px;
  line-height: 1;
}
.footer-top .footer-links ul li {
  padding: 8px 0;
  align-items: center;
  color: #b8b8b8;
}
.footer-newsletter {
  color: #ffffffc9;
}
.footer-newsletter p {
  color: #b8b8b8;
}
.footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

.footer-newsletter form input[type="email"] {
  position: relative;
  border: 0;
  padding: 10px;
  width: calc(100% - 110px);
  outline: none;
}
.form-control {
  line-height: 2;
}
.input-group-text {
  background-color: white !important;
  border: none !important;
}
.footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  background: #de2021;
  color: white;
  border-radius: 0 4px 4px 0;
}
.footer-social-info {
  padding-top: 20px;
}
.footer-social-icon a {
  padding-left: 20px;
  color: #b8b8b8;
}
.footer-social-icon a:hover {
  color: white;
}
.footer-bottom {
  color: black;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.footer-bottom-cont li {
  list-style: none;
  display: inline-flex;
  padding-left: 35px;
  padding-right: 35px;
}
.footer-bottom-one {
  color: #b8b8b8;
  padding-left: 25px;
}
.footer-bottom p {
  margin-bottom: 0;
}
.footer-bottom-one span {
  color: #de2021;
}
.footer-minus {
  color: #de2021;
}

/* MOBILE */
@media (min-width:320px) and (max-width: 480px){
  .navbar-brand img {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.home-content-head {
  font-size: 40px;
}
.home-content1 span {
  font-size: 25px;
}
.home-content {
  padding-top: 180px;
}
  .sm-button {
    padding-bottom: 4px;
}
  .sm-services__text h4 {
    font-size: 15px;
}
/* ABOUT */
.about__wrapp .section__title {
  font-size: 21px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 10px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 5px;
}
.ab-im-one{
  height: 95%!important;
}
.ab-list-content span {
  font-size: x-large;
}
.ab-list-content1 span {
font-size: x-large;
}
.ab-small-con1 {
  width: 45%;
  margin-left: -5px;
  margin-top: -37px;
padding: 0px 0px 0px 0px;
}
.ab-small-con2 {
width: 45%;
margin-left: 230px;
margin-top: -30px;
padding: 0px 0px 0px 0px;
}
.about-img {
padding-top: 80px;
padding-bottom: 80px;
}
/* SERVICES */
.services__wrapp .services__title {
  font-size: 29px;
  line-height: 1;
}
.services__wrapp {
  margin-bottom: 40px;
}
.ser-text {
  line-height: 28px;
  margin-bottom: 50px;
}
.service-li-head {
  width: 180.333px;
  margin-right: 20px;
  margin-left: 6px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}
.service-li-head h5 {
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.service-lis {
  padding-bottom: 5px;
}
.service-lis ul li {
  margin-bottom: 8px;
}
.ab-button{
  margin-bottom: 60px;
}


  .team-r-comm .team-social i {
    font-size: 7px;
    padding: 1px;
  }
  .team-r-comm .overlay .team-content span {
    font-size: x-small;
  }
  .team-r-comm .overlay .team-content h5 {
    font-size: smaller;
  }
  .team-r-comm .over-img {
    width: 85px;
}

}

/* TABLET */
@media (min-width:481px) and (max-width: 768px)  {
  .navbar-brand img {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.home-content-head {
  font-size: 70px;
}
.home-content {
  padding-top: 180px;
}
  .sm-button {
    padding-bottom: 12px;
}
  .sm-services__text h4 {
    font-size: 15px;
}
/* ABOUT */
.about__wrapp .section__title {
  font-size: 21px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 10px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 5px;
}
.ab-im-one{
  height: 95%!important;
}
.ab-list-content span {
    font-size: x-large;
}
.ab-list-content1 span {
  font-size: x-large;
}
.ab-small-con1 {
  width: 27%;
  margin-left: -26px;
  margin-top: -25px;
  padding: 0px 0px 0px 0px;
}
.ab-small-con2 {
  width: 27%;
  margin-left: 147px;
  margin-top: -30px;
  padding: 0px 0px 0px 0px;
}
.about-img {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* SERVICES */
.ab-button{
  margin-bottom: 60px;
}

  .team-r-comm .team-social i {
    font-size: 12px;
    padding: 2px;
  }
  .team-r-comm .overlay .team-content span {
    font-size: smaller;
  }
  .team-r-comm .over-img {
    width: 153px;
}

}

/* LAPTOP */
@media (min-width:769px) and (max-width: 1024px)  {
  .sm-button {
    padding-bottom: 8px;
}
  .sm-services__text h4 {
    font-size: 16px;
}
/* ABOUT */
.about__wrapp .section__title {
  font-size: 25px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 15px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 33px;
}
.ab-small-con1 {
  width: 20%;
  margin-left: -32px;
  margin-top: -38px;
}
.ab-small-con2 {
  width: 20%;
  margin-left: 288px;
}
.about-img {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* SERVICES */
.services__wrapp .services__title {
  font-size: 29px;
  line-height: 1;
}
.services__wrapp {
  margin-bottom: 40px;
}
.ser-text {
  line-height: 28px;
  margin-bottom: 50px;
}
.service-li-head {
  width: 222.333px;
  margin-right: 20px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}
.service-li-head h5 {
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.service-lis {
  padding-bottom: 5px;
}
.service-lis ul li {
  margin-bottom: 8px;
}



  .team-r-comm .team-social i {
    font-size: 13px;
    padding: 2px;
  }
  .team-r-comm .overlay .team-content h5 {
    font-size: medium;
  }
  .team-r-comm .over-img {
    width: 204px;
}

}

/* LAPTOP LARGE  */
@media (min-width:1025px) and (max-width: 1440px)  {
  
  .team-r-comm .over-img {
    width: 260px;
} 
.team-r-comm .overlay {
  position: relative;
  width: 18%;
}
}
