* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
a{
 text-decoration: none;
}
/* HOME-section START */
/* NAVBAR START*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand img {
  width: 150px;
  padding-top: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #de2021;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link {
  color: #aeaeae;
  padding-left: 35px !important;
}
.nav-link:focus, .nav-link:hover {
  color: #ee2222;
}
.nav-link i {
  padding-left: 5px;
  font-size: smaller;
}

.header-info {
  display: flex;
  color: white;
}
.f-right {
  float: right;
}
.header-info .info-item-right {
  margin-right: 40px;
}
.header-info .info-item span {
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  color: grey;
}
.info-item h5 a {
  font-size: smaller;
  color: white;
  text-decoration: none;
}
.info-item h5 a:hover{
  color: #ee2222;
}
.dropdown-menu[data-bs-popper] {
  top: 160%;
  left: 30px;
  margin-top: 0;
}
.dropdown-menu {
--bs-dropdown-padding-y: 0rem;
}
.dropdown-item:hover{
background-color:white;
color: #ee2222;
border-radius: 10px;
}
.dropdown-item {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-brand img {
    padding: 15px;
  }
  .nav-link {
    padding-left: 5px !important;
  }
  .header-info .info-item-right {
    margin-right: 30px;
  }
}
/* NAVBAR END*/
.home-content1 span {
  position: relative;
  font-size: 40px;
  display: inline-block;
  color: white;
  font-weight: 400;
}
.home-content1{
  position: relative;
}
.home-content-head {
  font-size: 80px;
  color: white;
}
.home-content-btn {
  padding-top: 5px;
}
.home-content-btn a{
  text-decoration: none;
}
.home-content-btn1 {
  display: inline-block;
  overflow: hidden;
  background-color: #de2021;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0px 25px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.home-content-btn1:hover{
 background-color:white;
 color: #de2021;
}
.home-content-btn1 i {
  font-size: 10px;
}
.home-content-btn2 {
  display: inline-block;
  overflow: hidden;
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
  border-radius: 5px;
  margin-left: 35px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0px 32px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0.8;
}
.home-content-btn2:hover{
  background-color:white;
  color: #de2021;
 }
 .bi.bi-arrow-left-short,
.bi.bi-arrow-right-short {
  padding-left: 6px;
  padding-right: 6px;
font-size: 30px;
border-radius: 5px;
background-color: rgba(29, 28, 28, 0.562);
color: white;
}
.bi.bi-arrow-left-short {
position: absolute;
top: 50%;
cursor: pointer;
}
.bi.bi-arrow-left-short:hover{
  color: white;
  background-color: #de2021;
}
.bi.bi-arrow-right-short {
position: absolute;
top: 50%;
background-color: rgba(62, 62, 62, 0.562);
color: #fff;
cursor: pointer;
font-size: 30px;
}
.bi.bi-arrow-right-short:hover{
  color: white;
  background-color:#de2021;
}
.carousel-control-next, .carousel-control-prev {
opacity: 1;
}
.scroll {
  background-color: rgba(19, 18, 18, 0.7) !important;
}
.home-content{
  background-image:url(/Images/bg\ img.jpg);
  width: 100%;
  position: relative;
  background-size: cover;
  z-index: 1;
  text-align: center;
  padding-top: 260px;
  padding-bottom: 260px;
}
.home-content::before{
  content: " ";
  position: absolute;
  opacity: 0.7;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
}
.carousel-indicators{
  margin-bottom:10px;
      margin-right: 0%;
     margin-left: 0%;
}
.ho-serv-common{
  position: relative;
  padding-bottom: 5px;
}
.sm-services__icon span i {
  margin-right: 15px;
}
.sm-services__icon i {
  font-size: 50px;
  color: orangered;
}
.sm-services__text span {
  font-size: 14px;
  color: grey;
  display: inline-block;
  padding-top: 14px;
}
.sm-services__text h4 {
  color: white;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
  position: absolute;
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 255px;
  height: 4px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #b90606;
  background-clip: padding-box;
  border-top: 6px solid transparent;
  border-bottom: none;
  transition: opacity .6s ease;
}
/* MOBILE */
@media (min-width:320px) and (max-width: 480px){

.navbar-brand img {
  padding-top: 20px;
  padding-bottom:20px;
}
.home-content {
background-image: url(/Images/bg\ img.jpg);
width: 100%;
position: relative;
background-size: cover;
z-index: 1;
text-align: center;
padding-top: 270px;
padding-bottom: 300px;
}
.home-content1 span {
font-size: 25px;
}
.home-content-head {
font-size: 50px;
color: white;
font-weight: 400;
}
.bi.bi-arrow-left-short {
top: 45%;
}
.bi.bi-arrow-right-short {
top: 45%;
}

.home-content-btn1 {
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
}
.home-content-btn2 {
height: 45px;
line-height: 45px;
padding: 0px 28px;
}
.carousel-indicators {
margin-bottom: 40px;
margin-right: 0%;
margin-left: 15%;
}
.carousel-indicators [data-bs-target] {
  width: 170px;
}
.ho-serv-common {
  padding-right: 25px;
}
.sm-button{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
}
.sm-services__text h4 {
  font-size: 14px;
}
.sm-services__icon span i {
  margin-right: 5px;
  font-size: x-large;
}
.sm-services__text span {
  font-size: 12px;
  padding-top: 0px;
}
}

/* TABLET */
@media (min-width:481px) and (max-width: 768px)  {
.navbar-brand img {
  padding-top: 20px;
  padding-bottom:20px;
}
.carousel-indicators [data-bs-target] {
  width: 170px;
}
.ho-serv-common {
  padding-right: 25px;
}
.sm-button{
  padding-left: 0px;
  padding-right: 0px;
}
.sm-services__text h4 {
  font-size: 14px;
}
.sm-services__icon span i {
  margin-right: 5px;
  font-size: x-large;
}
.sm-services__text span {
  font-size: 12px;
  padding-top: 0px;
}
}
/* LAPTOP */
@media (min-width:769px) and (max-width: 1024px)  {
.carousel-indicators [data-bs-target] {
  width: 230px;
}
.ho-serv-common {
  padding-right: 25px;
}
.sm-button{
  padding-left: 0px;
  padding-right: 0px;
}
.sm-services__text h4 {
  font-size: 18px;
}
.sm-services__icon span i {
  margin-right: 5px;
}
}
/* HOME-section END */
.about-img {
  padding-top: 140px;
  padding-bottom: 140px;
}
.ab-im-one{
  position: relative;
}
.ab-left-content {
  margin-left: 75px;
}
.about__wrapp::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  background: #80808030;
  top: 0;
}
.about__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.about__wrapp .section__title {
  font-size: 40px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 35px;
}
.abd-text{
  font-weight: 500;
}
.about__wrapp .r-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
}
.about__wrapp .r-text span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #80808075;
}
.ab-author {
  margin-bottom: 30px;
}
.ab-left-content .ab-author h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.ab-left-content .ab-author h5 span {
  color: red;
  font-weight: 400;
}
/* .ab-small-con{
  position: absolute;
} */
.ab-small-con1{
  position: absolute;
  display: flex;
    align-items: center;
    background-color: #fbfbfb;
    width: 14%;
    z-index: 1;
    margin-left: -50px;
    margin-top: -40px;
    border-radius: 8px;
    padding: 5px 26px 5px 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.ab-small-con2{
  position: absolute;
  display: flex;
    align-items: center;
    background-color: #fbfbfb;
    width: 14%;
    z-index: 1;
    margin-left: 453px;
    margin-top: -50px;
    border-radius: 8px;
    padding: 5px 26px 5px 10px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.ab-list-content span{
  font-size: xx-large;
  font-weight: 500;
}
.ab-list-content h5{
  font-size: small;
  color: gray;
}
.ab-list-content1 span{
  font-size: xx-large;
  font-weight: 500;
}
.ab-list-content1 h5{
  font-size: 11px;
  color: gray;
}
.img-con1{
  width: 50%;
}
.sm-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 45px;
  color: grey;
}
.ab-btn {
  margin-bottom: 24px;
}
.tp-btn {
  display: inline-block;
  overflow: hidden;
  color: white;
  background-color: #de2021;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 56px;
  padding: 0px 40px;
  border: 1px solid red;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.tp-btn:hover{
  color: #de2021;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}
/* SERVICES */
.services-sec {
  background-color: #f7f7f7;
  padding-bottom: 115px;
  padding-top: 120px;
}
.ser-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 45px;
  color: #808080e6;
}
.ab-button a{
  color:black;
  font-weight: 500;
}
.ab-button i{
  font-size: smaller;
}
.btn-ser1 {
  margin-bottom: 24px;
  background-color: white;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-ser1:hover{
  color: white;
  background-color: #de2021;

}

.services__wrapp .services__title {
  font-size: 39px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 27px;
}
.services__wrapp::before {
  position: absolute;
  content: "";
  width: 98%;
  height: 0.5px;
  background: #80808030;
  top: 0;
}
.services__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.services__wrapp .se-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
  font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #80808075;
}
.service-li-head {
  background-color: white;
  width: 315.333px;
  margin-right: 30px;
  padding-inline-start: 36px;
  padding-inline-end: 36px;
}
.service-li-head h5 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sr-button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #80808047;
  color: grey;
}
.sr-button a{
  color: #808080c7;
}
.sr-button a:hover{
  color: #de2021;
}
.service-lis {
  padding-bottom: 10px;
}
.service-lis ul{
  padding-left: 0;
  color: #808080c7;
}
.service-lis ul li {
  list-style: none;
  margin-bottom: 12px;
}
.ser-img {
  background-image: url(/Images/bg\ img.jpg);
  position: relative;
  background-position: center;
  /* height: 80vh; */
}
.ser-img-content {
  background-color: #de2021;
  padding: 30px 20px 30px 25px;
  bottom: 0;
  position: relative;
  /* width: 100%; */
  /* z-index: 2; */
  /* left: -2px; */
}
.ser-image-cont {
  padding-top: 280px;
  padding-left: 0px;
  
}
.ser-img-border {
  border-right: 2px solid white;
  opacity: 0.3;
  height: 100%;
}
.ser-img-content span {
  font-size: 13px;
  line-height: 1.2;
  color: white;
}
.ser-img-content h5 {
  font-size: 30px;
  line-height: 1.3;
  color: white;
  font-weight: 500;
}
.ser-info {
  padding-top: 70px;
}
.ser-info a {
  color: white;
}
.ser-info span {
  background-color: white;
  color: grey;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.ser-info span i {
  font-size:larger;
  color: #121111;
  font-size: 15px;
}
.flat-icon-indu i::before{
  font-size: 150px;
  color: #e4e4e421;
  position: absolute;
  margin-top: -185px;
  padding-left: 135px;
}
.bnr-slide-height {
  position: relative;
  padding-right: 0;
}

/* PAGES */
.pages-logo {
  width: 120px;
  filter: grayscale(100%);
}
.pages {
  padding-top: 90px;
  padding-bottom: 90px;
}
.pages-slide{
  position: relative;
  border-top: 0.5px solid#80808030;
  border-bottom:0.5px solid#80808030;
}
.pages-slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-title span {
  position: absolute;
  padding-right: 5px;
  background-color: white;
  padding-left: 5px;
  color: #de2021;
  margin-top: -12px;
  margin-left: -63px;
  z-index: 1;
}
/* FEATURES */
.nav{
  padding-left: 12px;
}
.features__wrapp {
margin-bottom: 30px;
position: relative;
}
.features__wrapp::before {
position: absolute;
content: "";
width: 90%;
height: 0.5px;
background: #80808030;
top: 12px;
}
.features__wrapp .features__title {
font-size: 35px;
line-height: 1.2;
padding-top: 20px;
margin-left: 27px;
}
.features__wrapp .fe-text {
position: absolute;
left: -4%;
bottom: 32%;
transform: rotate(-90deg);
color: #80808075;
}

.features-list ul li {
list-style: none;
padding: 18px 30px;
background: #f8f8f8;
margin-bottom: 25px;
border-radius: 6px;
width: 92%;
transition: 0.3s;
}
.features-list ul {
padding-left: 0;
}
.features-list .fea__icon {
color: #b7b7b7;
font-size: large;
padding-left: 282px;
}
.features-list .fea__icon1 {
color: #b7b7b7;
font-size: large;
padding-left: 257px;
}
.features-list .fea__icon2 {
color: #b7b7b7;
font-size: large;
padding-left: 228px;
}
.features-list .fea__icon3 {
color: #b7b7b7;
font-size: large;
padding-left: 314px;
}
.features-list-in a {
color: black;
text-decoration: none;
}
.features-list-in:hover a {
color: white;
}
.features-list-in:hover {
background-color: #de2021;
margin-left: 20px;
}
.features {
margin-bottom: 90px;
}
.fea-image {
position: relative;
}
.fea-cols-lis i {
position: absolute;
z-index: 1;
color: #de2021;
font-size: x-large;
background-color: #fcfcfcf5;
height: 80px;
width: 80px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 60%;
right: 5%;
margin-top: 195px;
}
.fea-cols-lis i:hover{
  color:white;
  background-color:#de2021 ;
}
/* FEATURES MEDIA QUERY START */
/* MOBILE */
@media (min-width: 320px) and (max-width: 480px) {
  .features__wrapp .features__title {
      font-size: 25px;
      padding-top: 22px;
      margin-left: 32px;
  }
  .features__wrapp .fe-text span{
      font-size: smaller;
  }
  .features__wrapp .fe-text {
      bottom: 24%;
  }
  .features-list ul li {
      padding: 12px 19px;
  }
  .features-list .fea__icon {
      padding-left: 88px;
  }
  .features-list .fea__icon1 {
      padding-left: 64px;
  }
  .features-list .fea__icon2 {
      padding-left: 34px;
  }
  .features-list .fea__icon3 {
      padding-left: 120px;
  }
  .fea-cols-lis i {
      font-size:medium;
      height: 50px;
      width: 50px;
      right: 0%;
      margin-top: 130px;
  }
}
/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  .features__wrapp .features__title {
      font-size: 37px;
  }
  .features-list ul li {
      width: 86%;
  }
  .fea-cols-lis i {
      right: 1%;
      margin-top: 205px;
  }
}
/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {
/* .features__wrapp .fe-text span {
  font-size: 15px;
} */
.features__wrapp .fe-text {
  font-size: 13px;
}
.features__wrapp .features__title {
  font-size: 25px;
  padding-top: 18px;
  margin-left: 30px;
}
.features__wrapp {
  margin-bottom: 22px;
}
.features-list ul li {
  padding: 10px 16px;
  background: #f8f8f8;
  margin-bottom: 15px;
  width: 92%;
}
.features-list .fea__icon {
  padding-left: 145px;
}
.features-list .fea__icon1 {
  padding-left: 120px;
}
.features-list .fea__icon2 {
  padding-left: 90px;
}
.features-list .fea__icon3 {
  padding-left: 176px;
}
.fea-cols-lis i {
  right: 1%;
  margin-top: 123px;
}
}
/* LAPTOP LARGE  */
@media (min-width: 1025px) and (max-width: 1440px) {
.fea-cols-lis i {
  height: 80px;
  width: 80px;
  right: 2%;
  margin-top: 195px;
}
}
/* FEATURES MEDIA QUERY END */
/* FEEDBACK */
.feedback__wrapp {
  margin-bottom: 30px;
  position: relative;
}
.feedback__wrapp::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 0.5px;
  background: #b7b3b359;
  top: 0;
}
.feedback__wrapp .feedback__title {
  font-size: 39px;
  line-height: 1.2;
  padding-top: 20px;
  margin-left: 27px;
}
.feedback__wrapp .feedback-text {
  position: absolute;
  left: -5%;
  bottom: 32%;
  transform: rotate(-90deg);
  color: #b7b3b3b8;
}

.feedback {
  background-color: #f7f7f7;
  position: relative;
}
.feedback::before{
  position: absolute;
  background-image: url(/Images/bg\ img.jpg);
  top: 0;
  bottom: 0;
  content: "";
  right: 0;
  left: 0;
  margin-left:60%;
}
.feedback .feedback-para {
  font-size: 16px;
  line-height: 26px;
  color: grey;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.feedback-col-one {
  padding-top: 115px;
  padding-bottom: 30px;
}
.feedback-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
  /* padding-left: 15px;
  padding-right: 15px; */
}
.feedback-info a img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.feedback-info .feedback-emp-content {
  margin-left: 20px;
}
.feedback-info .feedback-emp-name {
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 20px;
}
.feedback-emp-designation {
  color: grey;
  font-size: 16px;
}
.feedback-emp-designation span {
  color: #de2021;
}
.feed-cols {
  position: relative;
  background-color: white;
  width: 386.5px;
  margin-left: 15px;
  margin-right: 15px;
}
.feedback-p-head {
  padding-left: 20px;
  padding-right: 20px;
}
/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor:;
} */

/* TEAM */
.team-r-comm .overlay {
  position: relative;
}
.team-r-comm .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.team-r-comm .middle:before{
width: 100%;   
height: 100%;
content: '';
position: absolute;
left: 0;
bottom: 0;
background: #363a40;
clip-path: polygon(0 23%, 0% 100%, 100% 100%);
}
.team-r-comm .overlay:hover .middle {
  opacity: 1;
}
.team-r-comm .overlay .team-content {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: left;
  padding: 0 0 0 30px;
}
.team-r-comm .overlay .team-social {
  color: white;
  position: absolute;
  top: 125px;
  left: 44px;
}
.team-r-comm .team-social i {
  color: black;
  background-color: white;
  font-size: 18px;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
}
.team-r-comm .team-social i:hover {
  background-color: #de2021;
  color: white;
}
.team-r-comm {
  padding-left: 0;
  padding-right: 0;
  padding-top: 110px;
}
.team-r-comm .over-img {
  width: 100%;
  height: auto;
}
/* PROCEESS */
.process {
  margin-top: 100px;
  margin-bottom: 80px;
}
.process-img-two {
  padding-left: 30px;
  padding-top: 80px;
}
.process__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}
.process__list-info {
  display: flex;
  align-items: center;
}
.process__list-icon {
  margin-right: 20px;
}
.process__list-sp-icon {
  padding-right: 60px;
  color: #de2021;
}
.process__list-sp-icon a{
  color: #de2021 ;
}
.process__list-it {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* INSIGHTS */
/* 
.insights {
  background-color: #f7f7f7;
  padding-bottom: 115px;
}
.blog__item {
  position: relative;
}
.blog__sm-title a{
  color: white;
}

.blog__content {
  padding: 35px;
  position: relative;
}

.blog__item::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  mix-blend-mode: multiply;
  background-image: url('/Images/last-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.blog__meta {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  
}
.blog__author {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: white;
  font-weight: 300;
  
}
.blog__author i {
  color: white;
  padding-right: 8px;
}
.blog__author p {
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  line-height: 1.1;
  position: relative;
}
.blog__author span {
  color: white;
  padding-left: 10px;
}
.blog__btn {
  display: flex;
  align-items: center;
  margin-top: 120px;
  color: grey;
}
.blog__btn a{
  color: gray;
}
.blog__btn a i {
  padding-left: 10px;
}
.blog__catagory span{
  font-weight: 500;
  font-size: 16px;
  color: white;
} */

.insights {
  background-color: #f7f7f7;
  padding-bottom: 115px;
}
.blog__item {
  position: relative;
}
.blog__sm-title a{
  color: black;
}
.blog__content {
  position: relative;
  background-color: white;
  padding: 35px;
}
.blog__content:hover{
background-size:cover;
background-color: #363a40;
background:linear-gradient(0deg, rgb(35 30 33 / 80%), rgb(35 30 32 / 74%)), url(/Images/last-1.jpg);
}
.blog__content::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}
.blog__content:hover .blog__meta{
  color:#baacacab;
}
.blog__content:hover .blog__sm-title a{
  color: white;
}
.blog__content:hover .blog__btn a{
  color: white;
}

.blog__meta {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.blog__author {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #baacacab;
  font-weight: 300;
}
.blog__author i {
  color: #de2021;
  padding-right: 8px;
}
.blog__author p {
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  line-height: 1.1;
  position: relative;
}
.blog__author span {
  color: gray;
  padding-left: 10px;
}
.blog__btn {
  display: flex;
  align-items: center;
  margin-top: 120px;
  color: grey;
}
.blog__btn a{
  color: gray;
}
.blog__btn a i {
  padding-left: 10px;
}
.blog__catagory span{
  font-weight: 500;
  font-size: 16px;
}
/* FOOTER AREA */
.footer-area {
  background-image: url(/Images/footer-3-bg.png);
  position: relative;
  background-position: center;
  /* height: 80vh; */
}
.footer-area-com {
  padding-top: 100px;
  padding-bottom: 60px;
}

.footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-top .footer-links {
  color: #ffffffc9;
}
.footer-top .footer-links ul li>i {
  padding-right: 15px;
  color: #de2021!important;
  display: none;
  font-size: 15px;
  line-height: 1;
  position: relative;
}
.footer-top .footer-links ul li:hover >a{
  color: white;
  padding-left: 10px;
}
.footer-top .footer-links ul li:hover >i{
  display:block;
  position: absolute; 
  color: white;
  margin-left: -8px;
  margin-top: 5px;
}
.footer-top .footer-links ul li {
  padding: 8px 0;
  align-items: center;
  color: #b8b8b8;
  cursor: pointer;
}
.footer-newsletter {
  color: #ffffffc9;
  margin-left: 64px;
}
.footer-newsletter p {
  color: #b8b8b8;
}
.footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

.footer-newsletter form input[type="email"] {
  position: relative;
  border: 0;
  padding: 10px;
  width: calc(100% - 110px);
  outline: none;
}
.form-control {
  line-height: 2;
}
.input-group-text {
  background-color: white !important;
  border: none !important;
}
.footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  background: #de2021;
  color: white;
  border-radius: 0 4px 4px 0;
}
.footer-top .footer-newsletter form input[type="submit"]:hover {
background-color: grey;
}
.footer-services{
  margin-left: -32px;
}
.footer-social-info {
  padding-top: 20px;
}
.footer-social-icon a {
  padding-left: 20px;
  /* color: #b8b8b8; */
}
.footer-social-icon .bi.bi-facebook{
  color:#4267B2;
}
.footer-social-icon .bi.bi-facebook:hover{
  color:white;
}

.footer-social-icon .bi.bi-twitter{
  color:  #00acee ;
}
.footer-social-icon .bi.bi-twitter:hover{
  color:white;
}

.footer-social-icon .bi.bi-github{
  color:wheat;  
}
.footer-social-icon .bi.bi-github:hover{
  color: white;
}

.footer-social-icon .bi.bi-youtube{
  color: #FF0000;
}
.footer-social-icon .bi.bi-youtube:hover{
  color: white;
}

.footer-social-icon .bi.bi-linkedin{
  color: #0077b5	;
}
.footer-social-icon .bi.bi-linkedin:hover{
  color: white;
}

.footer-bottom {
  color: black;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.footer-bottom-cont li {
  list-style: none;
  display: inline-flex;
  padding-left: 35px;
  padding-right: 35px;
}
.footer-bottom-one {
  color: #b8b8b8;
  padding-left: 25px;
}
.footer-bottom-cont ul li a{
color: black;
}
.footer-bottom-cont ul li a:hover{
color:#de2021;
}
.footer-bottom p {
  margin-bottom: 0;
}
.footer-bottom-one span {
  color: #de2021;
}
.footer-minus {
  color: #de2021;
}

/* MOBILE */
@media (min-width:320px) and (max-width: 480px){
/* ABOUT */
.about__wrapp .section__title {
  font-size: 21px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 10px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 5px;
}
.ab-im-one{
  height: 95%!important;
}
.ab-list-content span {
  font-size: x-large;
}
.ab-list-content1 span {
font-size: x-large;
}
.ab-small-con1 {
  width: 42%;
  margin-left: -5px;
  margin-top: -37px;
padding: 0px 0px 0px 0px;
}
.ab-small-con2 {
width: 42%;
margin-left: 230px;
margin-top: -30px;
padding: 0px 0px 0px 0px;
}
.about-img {
padding-top: 80px;
padding-bottom: 80px;
}
/* SERVICES */
.services__wrapp .services__title {
  font-size: 29px;
  line-height: 1;
}
.services__wrapp {
  margin-bottom: 40px;
}
.ser-text {
  line-height: 28px;
  margin-bottom: 50px;
}
.service-li-head {
  width: 180.333px;
  margin-right: 20px;
  margin-left: 6px;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
}
.service-li-head h5 {
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.service-lis {
  padding-bottom: 5px;
}
.service-lis ul li {
  margin-bottom: 8px;
}
.ab-button{
  margin-bottom: 60px;
}
.flat-icon-indu i::before{
  font-size: 130px;
  margin-top: -170px;
  padding-left: 90px;
}
.ser-img-content h5 {
  font-size: 20px;
}
.ser-img-content {
 width: 265px;
}
.ser-image-cont {
  padding-top: 265px;
}

/* FEEDBACK */
.feedback {
  background-color: #f7f7f7;
}
.feedback .feedback-para {
  font-size: 16px;
  line-height: 26px;
  color: grey;
}
.feedback-col-one {
  padding-top: 100px;
  padding-bottom: 30px;
}
.feedback-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.feedback-info a img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.feedback-info .feedback-emp-content {
  margin-left: 20px;
}
.feedback-info .feedback-emp-name {
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 20px;
}
.feedback-emp-designation {
  color: grey;
  font-size: 16px;
}
.feedback-emp-designation span {
  color: #de2021;
}
.feed-cols {
  background-color: white;
  width: 386.5px;
  margin-left: 15px;
  margin-right: 15px;  
  margin-bottom: 35px;

}
.feedback-p-head {
  padding-left: 20px;
  padding-right: 20px;
}
.feed-cols5{
  margin-top: 15px;
}
.feedback::before {
  top: 0;
  bottom: 0;
  content: "";
  right: 0;
  left: 0;
  margin-left: 80%;
}
.feedback__wrapp .feedback__title {
  font-size: 25px;
  line-height: 1.2;
  padding-top: 10px;
  margin-left: 35px;
}
.feedback__wrapp .feedback-text {
  left: -3%;
  bottom: 38%;
  font-size: 12px;
}
/* PROCEESS */
.process-img-two {
  padding-bottom: 60px;
}
/* PROCEESS */
.process__list-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.process__list-content h5{
  font-size: 18px;
}
.process__list-sp-icon {
  padding-right: 10px;
}
.ho-foot{
  margin-right: 0px;
}
/* BLOG */
.blog__content {
  padding: 24px;
}
.blog__btn {
  margin-top: 90px;
}
.blog__item{
  padding-bottom: 20px;
}
/* TEAM */
  .team-r-comm .team-social i {
    font-size: 7px;
    padding: 1px;
  }
  .team-r-comm .overlay .team-content span {
    font-size: x-small;
  }
  .team-r-comm .overlay .team-content h5 {
    font-size: smaller;
  }

.team-r-comm {
  padding-top: 80px;
}
.team-r-comm .overlay .team-content {
  bottom: 0px;
  font-size: 8px;
  padding: 0px 0 0 3px;
}
.team-r-comm .overlay .team-social {
  top: 20px;
  left: 10px;
}
/* FOOTER */
.footer-top .footer-newsletter form {
  padding: 6px 0px;
}
.footer-newsletter form input[type="email"] {
  padding: 5px;
}
.footer-social-icon a {
  padding-left: 14px;
}
.footer-top .footer-links {
padding-top: 35px;
}
.footer-services {
  margin-left: 3px;
}
.footer-newsletter {
  margin-left: 3px;
    margin-top: 35px;
}
.footer-bottom {
  padding-top: 0px;
}
.footer-bottom-cont li {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-bottom-one {
  padding-left: 18px;
  padding-top: 8px;
}
.footer-bottom-cont{
  padding-top: 8px;
}


}

/* TABLET */
@media (min-width:481px) and (max-width: 768px)  {
/* ABOUT */
.about__wrapp .section__title {
  font-size: 21px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 10px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 5px;
}
.ab-im-one{
  height: 95%!important;
}
.ab-list-content span {
    font-size: x-large;
}
.ab-list-content1 span {
  font-size: x-large;
}
.ab-small-con1 {
  width: 27%;
  margin-left: -26px;
  margin-top: -25px;
  padding: 0px 0px 0px 0px;
}
.ab-small-con2 {
  width: 27%;
  margin-left: 147px;
  margin-top: -30px;
  padding: 0px 0px 0px 0px;
}
.about-img {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* SERVICES */
.ab-button{
  margin-bottom: 60px;
}
.flat-icon-indu i::before{
  font-size: 130px;
  margin-top: -170px;
  padding-left: 90px;
}
.ser-img-content h5 {
  font-size: 20px;
}
.ser-img-content {
 width: 265px;
}
.ser-image-cont {
  padding-top: 265px;
}
/* FEEDBACK */
.feed-cols {
  width: 288.5px;
  margin-left: 15px;
  margin-right: 15px;
}
.feedback-info .feedback-emp-name {
  font-size: 15px;
  margin-bottom: 0;
  padding-top: 20px;
}
.feedback-emp-designation {
  font-size: 15px;
}
.feedback-info {
  margin-top: 15px;
}
.feedback .feedback-para {
  font-size: 14px;
}
.feed-cols5{
  margin-top: 25px;
}
/* PROCEESS */
.process-img-two {
  padding-bottom: 60px;
}
/* PROCEESS */
.process__list-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.process__list-content h5{
  font-size: 18px;
}
.process__list-sp-icon {
  padding-right: 10px;
}
/* BLOG */
.blog__content {
  padding: 24px;
}
.blog__btn {
  margin-top: 90px;
}
.blog__item{
  padding-bottom: 20px;
}

/* TEAM */
  .team-r-comm .team-social i {
    font-size: 12px;
    padding: 2px;
  }
  .team-r-comm .overlay .team-content span {
    font-size: smaller;
  }
/* FOOTER */
.footer-top .footer-newsletter form {
  padding: 6px 0px;
}
.footer-newsletter form input[type="email"] {
  padding: 5px;
}
.footer-social-icon a {
  padding-left: 14px;
}
.footer-services {
  margin-left: -15px;
}
.footer-newsletter {
  margin-left: 170px;
    margin-top: 45px;
}
.footer-bottom {
  padding-top: 15px;
}
.footer-bottom-cont li {
  padding-left: 10px;
  padding-right: 10px;
}


}

/* LAPTOP */
@media (min-width:769px) and (max-width: 1024px)  {
/* ABOUT */
.about__wrapp .section__title {
  font-size: 25px;
}
.about__wrapp .r-text span {
  font-size: 12px;
}
.about__wrapp .r-text {
  left: -6%;
}
.about__wrapp {
  margin-bottom: 15px;
}
.ab-author {
  margin-bottom: 13px;
}
.sm-text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
}
.abd-text {
  font-size: 15px;
}
.tp-btn {
  line-height: 45px;
}
.ab-left-content {
  margin-left: 33px;
}
.ab-small-con1 {
  width: 20%;
  margin-left: -32px;
  margin-top: -38px;
}
.ab-small-con2 {
  width: 20%;
  margin-left: 288px;
}
.about-img {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* SERVICES */
.services__wrapp .services__title {
  font-size: 29px;
  line-height: 1;
}
.services__wrapp {
  margin-bottom: 40px;
}
.ser-text {
  line-height: 28px;
  margin-bottom: 50px;
}
.service-li-head {
  width: 222.333px;
  margin-right: 20px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}
.service-li-head h5 {
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 15px;
}
.service-lis {
  padding-bottom: 5px;
}
.service-lis ul li {
  margin-bottom: 8px;
}
.flat-icon-indu i::before{
  font-size: 130px;
  margin-top: -170px;
  padding-left: 90px;
}
.ser-img-content h5 {
  font-size: 20px;
}
.ser-img-content {
 width: 265px;
}
.ser-image-cont {
  padding-top: 265px;
}

/* FEEDBACK */
.feed-cols {
  width: 288.5px;
  margin-left: 15px;
  margin-right: 15px;
}
.feedback-info .feedback-emp-name {
  font-size: 15px;
  margin-bottom: 0;
  padding-top: 20px;
}
.feedback-emp-designation {
  font-size: 15px;
}
/* PROCEESS */
.process__list-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.process__list-content h5{
  font-size: 18px;
}
.process__list-sp-icon {
  padding-right: 10px;
}

/* BLOG */
.blog__content {
  padding: 24px;
}
.blog__btn {
  margin-top: 90px;
}
/* TEAM */
  .team-r-comm .team-social i {
    font-size: 13px;
    padding: 2px;
  }
  .team-r-comm .overlay .team-content h5 {
    font-size: medium;
  }
/* FOOTER */
.footer-top .footer-newsletter form {
  padding: 6px 0px;
}
.footer-newsletter form input[type="email"] {
  padding: 5px;
}
.footer-social-icon a {
  padding-left: 14px;
}
.footer-services {
  margin-left: -15px;
}
.footer-newsletter {
  margin-left: 30px;
}

}
/* LAPTOP LARGE  */
@media (min-width:1025px) and (max-width: 1440px)  {
  
  
  .team-r-comm .over-img {
    width: 288px;
} 
.team-r-comm .overlay {
  position: relative;
  /* width: 18%; */
}
}
