.testimonials {
  position: relative;
  padding-top: 110px;
}
.overlay{
    position: relative;
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.middle:before{
  width: 100%;   
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #363a40;
  clip-path: polygon(0 23%, 0% 100%, 100% 100%);
  }
.overlay:hover .middle {
    opacity: 1;
  }
.middle .team-content {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: left;
    padding: 0 0 0 20px;
  }
  /* .middle .team-content h5{
    font-size:x-large;
  }
  .middle .team-content span{
    
  } */
.middle .team-social {
    color: white;
    position: absolute;
    top: 125px;
    left: 44px;
  }
.team-social i {
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
  }
.team-social i:hover {
    background-color: #de2021;
    color: white;
  }

  /* .team-r-comm .overlay { CAROUSEL ILAMA
  position: relative;
}
.team-r-comm .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.team-r-comm .middle:before{
width: 100%;   
height: 100%;
content: '';
position: absolute;
left: 0;
bottom: 0;
background: #363a40;
clip-path: polygon(0 23%, 0% 100%, 100% 100%);
}
.team-r-comm .overlay:hover .middle {
  opacity: 1;
}
.team-r-comm .overlay .team-content {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: left;
  padding: 0 0 0 30px;
}
.team-r-comm .overlay .team-social {
  color: white;
  position: absolute;
  top: 125px;
  left: 44px;
}
.team-r-comm .team-social i {
  color: black;
  background-color: white;
  font-size: 18px;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
}
.team-r-comm .team-social i:hover {
  background-color: #de2021;
  color: white;
}
.team-r-comm {
  padding-left: 0;
  padding-right: 0;
  padding-top: 110px;
}
.team-r-comm .over-img {
  width: 100%;
  height: auto;
} */